{% extends "layout_2_col.html" %}

{% load basket_tags %}
{% load thumbnail %}
{% load category_tags %}
{% load product_tags %}
{% load i18n %}

{% block title %}
    {% if summary %}{{ summary }} |{% endif %} {{ block.super }}
{% endblock %}


{% block breadcrumbs %}
<!-- breadcrumb-area-start -->
<div class="breadcrumb-area ptb-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb">
          <ul>
            <li><a href="{{ homepage_url }}"><i class="fa fa-home"></i> </a></li>
            <li class="active"><i class="fa fa-angle-right"></i>{{ summary }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb-area-end -->
{% endblock breadcrumbs %}

{% block column_left %}
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
	<div class="shop-left">
    {% category_tree as tree_categories %}
    {% if tree_categories %}
    <div class="categories-menu mb-30">
      <div class="categories-title">
        <h2><a href="#" id="showcat"><i class="fa fa-bars"></i> {% trans "All categories" %}</a></h2>
      </div>
      <div class="categories-sub-menu" id="hidecat">
        <ul>
          {% for tree_category, info in tree_categories %}

          {% if info.has_children %}
          <li><a href="{{ tree_category.get_absolute_url }}">
                  {% if tree_category.pk == category.pk %}
                      {{ tree_category.name }}
                  {% else %}
                    {% if info.has_children %}
                      <strong>{{ tree_category.name }}</strong><br>
                      {% else %}
                      {{ tree_category.name }}<br>
                      {% endif %}
                  {% endif %}
              </a>
              {% else %}
              <li><a href="{{ tree_category.get_absolute_url }}" style="font-size:14px;padding:0;">
                      {% if tree_category.pk == category.pk %}
                          {{ tree_category.name }}
                      {% else %}
                        {% if info.has_children %}
                          <strong>{{ tree_category.name }}</strong>
                          {% else %}
                          {{ tree_category.name }}
                          {% endif %}
                      {% endif %}
                  </a>
            {% endif %}
            {% if info.has_children %}<ul style="color:red !important; margin-left:15px;">{% else %}</li>{% endif %}
              {% for n in info.num_to_close %}
                  </ul></li>
              {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

							<div class="single-banner mb-30">
								<a href="#"><img src="/media/images/promotions/16.jpg" alt="banner" /></a>
							</div>


    {% if has_facets %}
        <h4>{% trans "Refine by" %}</h4>
        <div class="side_categories">
            {% for field, data in facet_data.items %}
                {% if data.results %}
                    {% include 'search/partials/facet.html' with name=data.name items=data.results %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block content %}
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 pull-right">
  <div class="main-shop-area">
    <div class="single-banner-3 mb-30">
      <a href="#"><img src="/media/images/promotions/17.jpg" alt="banner" /></a>
    </div>
    <!-- shop-right-area -->
<div class="shop-right-area">
  <div class="page-heading mb-10">
    <div class="cart-name">
      <span>All Products</span>
    </div>
  </div>
  <div class="page-bar">
  {% if paginator.count %}
    <div class="shop-tab">
      <!-- tab-menu-start -->
      <div class="tab-menu">
        <ul>
          <li class="active"><a href="#th" data-toggle="tab"><i class="fa fa-th"></i></a></li>
        </ul>
      </div>


      <div class="field-limiter">
        <div class="label-title">
          <span>Showing</span>
        </div>
        {% if paginator.num_pages > 1 %}
        <div class="control">
          {% blocktrans with start=page_obj.start_index end=page_obj.end_index count num_results=paginator.count %}
          <span> <strong>{{ start }}</strong> to <strong>{{ end }}</strong>per page</span>
          {% plural %}
          <span> <strong>{{ start }}</strong> to <strong>{{ end }}</strong> per page</span>
          {% endblocktrans %}
        </div>
        {% else %}
        <div class="control">
          {% blocktrans count num_results=paginator.count %}
          <span><strong>{{ num_results }}</strong> per page</span>
            {% plural %}
            <span><strong>{{ num_results }}</strong> per page</span>
            {% endblocktrans %}
        </div>
          {% endif %}
      </div>
    </div>
    {% else %}
      <div class="shop-tab">
        <div class="field-limiter">
          <div class="label-title">
            <span><strong>0</strong> Results</span>
          </div>
        </div>
      </div>{% endif %}
  </div>

</div>

<!--cat-->
    <form method="get" class="form-horizontal">
        {# Render other search params as hidden inputs #}
        {% for value in selected_facets %}
            <input type="hidden" name="selected_facets" value="{{ value }}" />
        {% endfor %}
        <input type="hidden" name="q" value="{{ search_form.q.value|default_if_none:"" }}" />

        {% if paginator.count %}
            {% if paginator.num_pages > 1 %}
                {% blocktrans with start=page_obj.start_index end=page_obj.end_index count num_results=paginator.count %}
                    <strong>{{ num_results }}</strong> result - showing <strong>{{ start }}</strong> to <strong>{{ end }}</strong>.
                {% plural %}
                    <strong>{{ num_results }}</strong> results - showing <strong>{{ start }}</strong> to <strong>{{ end }}</strong>.
                {% endblocktrans %}
            {% else %}
                {% blocktrans count num_results=paginator.count %}
                    <strong>{{ num_results }}</strong> result.
                {% plural %}
                    <strong>{{ num_results }}</strong> results.
                {% endblocktrans %}
            {% endif %}
            {% if form %}
                <div class="pull-right">
                    {% include "partials/form_field.html" with field=form.sort_by %}
                </div>
            {% endif %}
        {% else %}
            <p>
                {% trans "<strong>0</strong> results." %}
            </p>
        {% endif %}
    </form>

    <!-- tab-area-start -->
    {% if products %}
    <div class="tab-content">

      <div class="tab-pane active" id="th">
        <div class="shop-tab-border">
          {% for product in products %}
          <div class="col-sm-4 col-lg-4 col-md-4 col-xs-12" style="border:1px solid #dadada;">
            {% block product_image %}
            <div class="product-image-total" style="margin-top:26px;">
              <div class="product-image-2" style="text-align:center;">
                {% with image=product.primary_image %}
                {% thumbnail image.original "x270" upscale=False as thumb %}
                <a href="{{ product.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ product.get_title }}" style="height:15em;"/></a>
                {% endthumbnail %}
                {% endwith %}
              </div>
              <a href="#" data-toggle="modal" data-target="#mymodal"><i class="fa fa-search"></i></a>
            </div>
            {% endblock %}
            <div class="product-content-2 text-center product-content-3">
              {% block product_title %}
              <h4 style="height:4em; margin-bottom:0;"><a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}">{{ product.get_title }}</a></h4>
              {% endblock %}
              {% block product_price %}
              <div class="price">
                <ul style="margin-bottom:0;margin-top:10px;">
                  {% include "catalogue/partials/stock_record.html" %}
                </ul>
              </div>
              {% if not product.is_parent %}
                  {% include "catalogue/partials/add_to_basket_form_compact.html" %}
              {% endif %}

              {% endblock %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <!-- <div class="tab-pane fade" id="list">
        {% for product in products %}
        {% include "catalogue/partials/list-product.html" %}
        {% endfor %}
      </div> -->

    </div>
    <!-- tab-area-end -->
    <!-- pagination-area-start -->
    {% include "partials/pagination.html" %}
    <!-- pagination-area-end -->
    {% else %}
    <p class="nonefound">{% trans "No products found." %}</p>
    {% endif %}

</div>
</div>
{% endblock content %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}
