{% extends "layout.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% block title %}
    {{ product.title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ product.description|default:""|striptags }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumb-area ptb-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb">
          <ul>
            <li><a href="{{ homepage_url }}"><i class="fa fa-home"></i> </a></li>
            {% with category=product.categories.all.0 %}
            {% for c in category.get_ancestors_and_self %}
            <li><a href="{{ c.get_absolute_url }}" class="active"><i class="fa fa-angle-right"></i>{{ c.name }}</a></li>
            {% endfor %}
            <li class="active"><i class="fa fa-angle-right"></i>{{ product.title }}</li>
            {% get_back_button as backbutton %}
            {% if backbutton %}
            <li><a href="{{ backbutton.url }}" class="active"><i class="fa fa-angle-right"></i>{{ product.title }}</a></li>
              {% endif %}
          {% endwith %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block header %}
{% endblock header %}

{% block content %}

<div class="product-details-area">
  <div class="container">
    <div class="row">


        {% block product_gallery %}
					<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" style="margin-bottom:30px;">
            {% include "catalogue/partials/gallery.html" %}
        </div>
        {% endblock %}

        {% block product_main %}
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">

						<div class="product-info-main">
              {% if user.is_staff %}
                  <a class="pull-right hidden-xs" href="{% url 'dashboard:catalogue-product' pk=product.id %}"><small><i class="icon-edit"></i> {% trans "Edit this product" %}</small></a>
              {% endif %}
  							<div class="page-title">
  								<h1>{{ product.get_title }}</h1>
  							</div>
                {% iffeature "reviews" %}
                  {% include "catalogue/reviews/partials/review_stars.html" %}
                {% endiffeature %}

                {% block product_stock_record %}
                {% purchase_info_for_product request product as session %}


  							<div class="product-info-price">
  								<div class="price-final"><b>Price:</b>
                    {% if session.price.exists %}
                        {% if session.price.excl_tax == 0 %}
      									        {% trans "Free" %}
                        {% elif session.price.is_tax_known %}
      									         {{ session.price.incl_tax|currency:session.price.currency }}
                        {% else %}
      									         {{ session.price.excl_tax|currency:session.price.currency }}
                        {% endif %}
                    {% else %}
                             &nbsp;
                    {% endif %}
  								</div>
  							</div>

              {% block product_basket_form %}
              <div class="box-cart-bottom">
                {% include "catalogue/partials/add_to_basket_form.html" %}
            </div>
            {% endblock %}
                <p class="{{ session.availability.code }} availability">
                  {% if session.availability.is_available_to_buy %}
                    <i class="fa fa-check" style="color:green;"></i>
                    {% else %}
                    <i class="fa fa-close" style="color:red;"></i>
                    {% endif %}
                    {% if verbose %}
                        {{ session.availability.message }}
                    {% else %}
                        {{ session.availability.short_message }}
                    {% endif %}
                </p>
                {% endblock %}
                {% block product_description %}
                  {% if product.description %}
                  <div class="short_description_block">
    								<p>{{ product.description|safe }}</p>
    							</div>
                  {% endif %}
                  {% endblock %}

        </div>
    </div>
        {% endblock %}

    </div>
      <hr>
</div>
</div>

<style>
.addcaa{
  background:#f0f0f0;
  color:#282b31;
  display:inline-block;
  font-weight:700;
  height:35px;
  line-height:25px;
  padding:5px 20px;
  font-family:serif;
  transition:.3s;
  width:auto;
}
.addcaa:hover{
  box-shadow:0 15px 30px 0 rgba(20, 70, 131, 0.3);
  background:#d61818;
  transition:.3s;
  color:#fff;
}
</style>

<!-- more-info-area-start -->
<div class="more-info-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- tab-menu-start -->
        <div class="tab-menu mb-40 text-center ">
          <ul style="text-align:left;">
            <a href="#More" data-toggle="tab" style="border:none;"><li class="addcaa active">{% trans "Product Information" %}</li></a>
            <!-- <a href="#desc" data-toggle="tab" style="border:none;"><li class="addcaa">Description</li></a> -->
            <a href="#Reviews" data-toggle="tab" style="border:none;"><li class="addcaa">Reviews</li></a>
          </ul>
        </div>
        <!-- tab-menu-end -->
      </div>
    </div>
    <style>
    th{
      border-top:none;
    }
    </style>

    <!-- tab-area-start -->
    <div class="tab-content">
      <div class="tab-pane active" id="More">
        {% block product_info %}
        <table class="table table-striped">
            {% if product.upc %}
            <tr>
                <th>{% trans "UPC" %}</th><td>{{ product.upc }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>{% trans "Product Type" %}</th><td>{{ product.get_product_class.name }}</td>
            </tr>

            {% purchase_info_for_product request product as session %}
            {% if session.price.exists %}
                <tr>
                    <th>{% trans "Price (excl. tax)" %}</th><td>{{ session.price.excl_tax|currency:session.price.currency }}</td>
                </tr>
                {% if session.price.is_tax_known %}
                    <tr>
                        <th>{% trans "Price (incl. tax)" %}</th><td>{{ session.price.incl_tax|currency:session.price.currency }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Tax" %}</th><td>{{ session.price.tax|currency:session.price.currency }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>{% trans "Availability" %}</th>
                    <td>{{ session.availability.message }}</td>
                </tr>
            {% endif %}
            {% for av in product.attribute_values.all %}
                <tr>
                    <th>{{ av.attribute.name }}</th>
                    <td>{{ av.value_as_html }}</td>
                </tr>
            {% endfor %}
            {% iffeature "reviews" %}
                <tr>
                    <th>{% trans "Number of reviews" %}</th>
                    <td>{{ product.num_approved_reviews }}</td>
                </tr>
            {% endiffeature %}
        </table>
        {% endblock %}
      </div>

      <!-- <div class="tab-pane fade" id="desc">
        <div class="row">
          <div class="col-lg-12">
            <p>xas</p>

          </div>
        </div>
      </div> -->

        {% iffeature "reviews" %}
        {% block product_review %}
      <div class="tab-pane fade" id="Reviews">
        <div class="row">
          <div class="col-lg-12">
            {% if product.num_approved_reviews == 0 %}
            <div class="review-title">
              {% if product|is_review_permitted:user %}
                    {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}
                        {% blocktrans %}This product does not have any reviews yet -
                        <a href="{{ add_review_url }}#addreview">Be the first to write your review!</a>
                        {% endblocktrans %}
                {% else %}
                    {% trans "This product does not have any reviews yet" %}.
                {% endif %}
            </div>
            {% else %}
            <ol class="review-title">
                {% for review in product.reviews.approved.all|slice:":3" %}
                    <li>
                    {% include 'catalogue/partials/review.html' %}
                    </li>
                {% endfor %}
            </ol>
            {% endif %}

          </div>
        </div>
      </div>
          {% endblock product_review %}
      {% endiffeature %}

    </div>
    <!-- tab-area-end -->
  </div>
</div>
<!-- more-info-area-end -->

    {% with recommended_products=product.sorted_recommended_products|slice:":6" %}
        {% if recommended_products %}
            <div class="sub-header">
                <h2>{% trans "Recommended items" %}</h2>
            </div>
            <ul class="row">
                {% for product in recommended_products %}
                <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    {% render_product product %}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% recently_viewed_products current_product=product %}


{% endblock content %}

{% block extrascripts %}
    {{ block.super }}
{% endblock %}
