{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Password reset complete' %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
    </li>
        <li>
            <a href="{% url 'password-reset' %}">{% trans 'Password reset' %}</a>
        </li>
    <li class="active">{% trans 'Complete' %}</li>
</ul>
{% endblock %}

{% block headertext %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}
<div class="entry-header-area">
  <div class="container">
    <div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
    <p><a href="{{ login_url }}" class="btn btn-lg btn-primary">{% trans 'Log in' %}</a></p>
  </div>
</div>
</div>
</div>
{% endblock %}
