{% extends "layout_2_col.html" %}

{% load i18n %}

{% block title %}
    {{ page_title }} | {% trans 'Account' %} | {{ block.super }}
{% endblock %}

{% block body_class %}account-profile{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
        </li>
        <li>
            <a href="{% url 'customer:summary' %}">{% trans 'Account' %}</a>
        </li>
        {% block extra_breadcrumbs %}{% endblock %}
        <li class="active">{{ page_title }}</li>
    </ul>
{% endblock %}

{% block column_left %}
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="background:#e4e4e4;padding:20px 10px;">
    <ul class="nav nav-pills nav-stacked">
        {% block standard_tabs %}
            {% include 'customer/partials/standard_tabs.html' %}
        {% endblock %}
    </ul>
  </div>
{% endblock %}

{% block content %}
<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
    {% block tabcontent %}{% endblock tabcontent %}
  </div>
{% endblock content %}
