{% extends "layout.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Login or register' %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
        </li>
        <li class="active">{% trans 'Login or register' %}</li>
    </ul>
{% endblock %}


{% block content %}

<div class="entry-header-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="login_form">
            <form id="login_form" action="{{ request.get_full_path }}" method="post" class="well" style="background:#fff;">
                <h2>{% trans 'Log In' %}</h2>
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=login_form %}
                <p><a href="{% url 'password-reset' %}">{% trans "I've forgotten my password" %}</a></p>
                <button name="login_submit" type="submit" value="Log In" class="btn btn-lg btn-primary" data-loading-text="{% trans "Logging in..." %}" style="background:#0e0e0e;border:#000;">{% trans 'Log In' %}</button>
            </form>
        </div>
      </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="register_form">
            <form id="register_form" action="{{ request.get_full_path }}" method="post" class="well" style="background:#fff;">
                <h2>{% trans 'Register' %}</h2>
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=registration_form %}
                <button name="registration_submit" type="submit" value="Register" class="btn btn-lg btn-primary" data-loading-text="{% trans 'Registering...' %}" style="background:#0e0e0e;border:#000;">{% trans 'Register' %}</button>
            </form>
        </div>
    </div>
</div>
</div>
</div>

{% endblock content %}
