<!DOCTYPE html>
<html>
<head>
  <title>test</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">


</head>
<body>
  <style>

  body
  {
  	background-color:#e2e2e2a8;
    margin:0;
  }

  body,input
  {
  	font-family:Nunito;
  }

  input
  {
  	border-width:0px;
  	outline:none;
  	font-weight:bold;
  }

  .b3
  {
  	border-radius: 3px;
  	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	-o-border-radius: 3px;
  	-ms-border-radius: 3px;
  }

  .tb
  {
  	display:table;
  	width:100%;
  }

  .td
  {
  	display:table-cell;
  	vertical-align:middle;
  }

  .material-icons
  {
  	color:#bbb;
  	vertical-align:middle;
  }

  .icn
  {
  	width:24px;
  	padding:10px;
  }

  .mrg3b
  {
  	margin-bottom:30px;
  }

  .mrg25t
  {
  	margin-top:25px;
  }

  #frm-cvr
  {
    background:#212554;
  	font-size:16px;
  	width:340px;
  	margin:0 auto;
  	padding:40px;
  	font-weight:bold;
    margin-top: 4em;
  }

  .cl-wh
  {
  	color:#fff;
  }

  #f-mlb
  {
  	text-align:center;
  	font-size: 26px;
  	margin-bottom:25px;
  }

  .f-i-bx
  {
    margin-top: 7px;
    background-color: #fff;
  	overflow:hidden;
  }

  .f-i-bx input
  {
  	width:100%;
  	height:24px;
  	font-size: 13.333333px;
      font-family: nunito;
  	color:#4e4e4e;
  	background-color:transparent;
  	padding:0px;
  }

  .prt
  {
  	padding-right:10px;
  }

  form label
  {
  	padding-left:3px;
  }

  #tc-bx
  {
      margin-top: 25px;
      text-align: center;
      color: #c4cfd4;
      font-size: 14px;
      font-weight: normal;
  }

  #tc-bx a
  {
  	 color:#f1f5f1;
  	 text-decoration:none;
  }

  .f-i-bx,#s-btn input
  {
  	box-shadow: 0px 4px 4px #303f94;
  	-webkit-box-shadow: 0px 4px 4px #303f94;
  	-moz-box-shadow: 0px 4px 4px #303f94;
  	-o-box-shadow: 0px 4px 4px #303f94;
  	-ms-box-shadow: 0px 4px 4px #303f94;
  }

  #s-btn input
  {
      padding: 10px;
      width: 100%;
  	  color: #fff;
  	  font-size: 20px;
      cursor: pointer;
  	  background: linear-gradient(#536ae8, #3e50b3);
  	background: -webkit-linear-gradient(#536ae8, #3e50b3);
  	background: -moz-linear-gradient(#536ae8, #3e50b3);
  	background: -o-linear-gradient(#536ae8, #3e50b3);
  	background: -ms-linear-gradient(#536ae8, #3e50b3);
  }

  #s-btn input:active
  {
  	position:relative;
  	top:3px;
  	box-shadow: 0px 2px 2px #202c6d;
  	-webkit-box-shadow: 0px 2px 2px #202c6d;
  	-moz-box-shadow: 0px 2px 2px #202c6d;
  	-o-box-shadow: 0px 2px 2px #202c6d;
  	-ms-box-shadow: 0px 2px 2px #202c6d;
  }
.disable{
  display:none;
}
</style>

{% load history_tags %}
{% load basket_tags %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

<!-- <div class="mini-cart-sub">
                      {% if request.basket.num_lines %}

											<div class="cart-totals">
                        {% if request.basket.is_tax_known %}
												<h5>{% trans "Total:" %}  <span>{{ request.basket.total_incl_tax|currency:request.basket.currency }}</span></h5>
                        {% else %}
												<h5>{% trans "Total:" %} <span>{{ request.basket.total_excl_tax|currency:request.basket.currency }}</span></h5>
                        {% endif %}
											</div>
                      {% endif %}
										</div> -->


<div id="frm-cvr">
			<div class="cl-wh" id="f-mlb">Please Provide Information</div>
			<form action="{% url "index" %}" method="post">
        {% csrf_token %}

				<label class="cl-wh f-lb" for="id_purpose">Purpose : Payment for Book</label>
        <div  class="disable">
				<label class="cl-wh f-lb" for="id_purpose">Purpose</label>
				<div class="f-i-bx b3 mrg3b">
					<div class="tb">
						<div class="td icn"><i class="material-icons">Book</i></div>
						<div class="td prt"><input type="text" name="purpose" required="" value="book payment" id="id_purpose"></div>
					</div>
				</div>
      </div>
<br><br>
      <label class="cl-wh f-lb">Amount : {{ request.basket.total_incl_tax|currency:request.basket.currency }}</label>
      <div  class="disable">
				<label class="cl-wh f-lb"  for="id_amount">Amount</label>
				<div class="f-i-bx b3 mrg3b">
					<div class="tb">
						<div class="td icn"><i class="material-icons">&#8377;</i></div>
						<div class="td prt"><input type="number" name="amount" value="{{ request.basket.total_incl_tax }}" required="" id="id_amount"></div>
					</div>
				</div>
      </div>

<br><br>
<label class="cl-wh f-lb" for="id_name">Name</label>
<div class="f-i-bx b3 mrg3b">
  <div class="tb">
    <div class="td icn"><i class="material-icons"><i class="fas fa-user"></i></i></div>
    <div class="td prt"><input type="text" name="name" required="" value="{{name}}" id="id_name" maxlength="100"></div>
  </div>
</div>
				<label class="cl-wh f-lb" for="id_phone">Phone</label>
				<div class="f-i-bx b3 mrg3b">
					<div class="tb">
						<div class="td icn"><i class="material-icons">+91</i></div>
						<div class="td prt"><input type="text" name="phone" required="" id="id_phone" maxlength="10"></div>
					</div>
				</div>
				<label class="cl-wh f-lb" for="id_email">Email</label>
				<div class="f-i-bx b3 mrg3b">
					<div class="tb">
						<div class="td icn"><i class="material-icons"><i class="fas fa-envelope"></i></i></div>
						<div class="td prt"><input type="email" name="email" value="{{email_id}}" required="" id="id_email" maxlength="100"></div>
					</div>
				</div>

				<div id="s-btn" class="mrg25t"><input type="submit" value="Submit" class="b3"></div>
			</form>
		</div>
    <!-- {% csrf_token %}
    <label for="id_purpose">purpose:</label><input type="text" name="purpose" placeholder="for book" required=""  value="book payment" id="id_purpose">
<label for="id_amount">amount:</label><input type="number" name="amount" required="" id="id_amount">
<label for="id_phone">Your phone:</label><input type="text" name="phone" required="" id="id_phone" maxlength="10">
<label for="id_email">Your email:</label><input type="email" name="email" value="{{email_id}}" required="" id="id_email" maxlength="100">
<label for="id_name">name:</label><input type="text" name="name" required="" value="{{name}}" id="id_name" maxlength="100">

<button type="submit" id="submit">Sign up</button>
</form> -->
</body>

</html>
