<!DOCTYPE html>
{% load i18n %}
<html>
<head>
  <title>test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    jQuery(function(){
       jQuery('#modal').click();
    });
    </script>
<style>
body{
  margin:0;
  background:#7bb2c3 !important;
}
.btn12{
  padding:10px 0;
}
li{
  color:#504d4d;
  font-size:22px;
  font-weight: 700;
}
label{
  margin-top: 10px;
}
h2{
  padding:11px 5px;
  color:#6d717d;
  font-weight: 700;
  font-size: 27px;
  margin-left: -30px;
  width: fit-content;
}
</style>
</head>
<body>
<!-- <div class="col-sm-12 col-xs-4 col-md-8 col-lg-8" style="margin-top:1.5em;">
<img src="http://www.aaditritechnology.com/images/mobile_payment.gif" />
</div> -->

<div class="col-sm-12 col-xs-4 col-md-4 col-lg-4" style="margin-top:1.5em;display:none;">
  <div class="btn12">
    <!-- <ul style="color:#fff;list-style:none;margin-left:-15px;">
      <h2>Your Payment Information</h2>
      <label>PAYMENT_ID</label><li>{{a}}</li>
      <label>PAYMENT_REQUEST_ID</label><li style="margin-bottom:50px;">{{b}}</li>
      <a href="{% url 'checkout:preview' %}" style="background:#272727;padding:14px 50px;border-radius:10px;cursor:pointer;font-weight;color:#fff;font-size:23px;">Return</a>
    </ul> -->
    {% block place_order %}
        <form method="post" action="{% url 'checkout:preview' %}" id="place_order_form">
            {% csrf_token %}
            <input type="hidden" name="action" value="place_order" />


            <div style="display:none">
                {% block hiddenforms %}{% endblock %}
            </div>

                    <div class="order-button-payment ">
                         <button id='modal' type="submit" class="btn btn-primary btn-lg btn-block" data-loading-text="{% trans 'Submitting...' %}" style="background:#3c74b9;border:#fff;">{% trans "COD" %}</button>
                    </div>

        </form>
    {% endblock place_order %}
  </div>
</div>
</body>

</html>
