{% extends "checkout/layout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load purchase_info_tags %}
{% load staticfiles %}

{% block title %}
<div class="entry-header-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="entry-header-title">
          <h2>{% trans "Checkout" %}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' %}
{% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    <div class="checkout-area">
			<div class="container">
				<div class="row">
    {% block shipping_address %}
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="background:#f2f2f2;">
      <div class="checkbox-form">
        <h3>{% trans "Shipping address" %}</h3>


        <div class="row">
          {% if shipping_address %}
          {% block shipping_address_actions %}
              <a href="{% url 'checkout:shipping-address' %}" class="pull-right" style="margin-right:14px;">
                  {% trans "Change" %}
              </a>
          {% endblock %}
          <div class="col-lg-12">
            <div class="checkout-form-list create-acc">
              <h4 style="margin-bottom:0;"><b>{% trans "address" %}</b></h4>
              {% for field in shipping_address.active_address_fields %}
                        {{ field }}<br/>
              {% endfor %}
            </div>
          </div>
          <div class="col-lg-12">
            <div class="checkout-form-list create-acc">
              {% if shipping_address.phone_number %}
                <h4 style="margin-bottom:0;"><b>{% trans "Contact" %}</b></h4>
                <p>
                    {% trans "Phone" %}: {{ shipping_address.phone_number }}
                    {% if guest_email %}
                        <br/>{% trans "Email" %}: {{ guest_email }}
                    {% endif %}
                </p>
            {% endif %}
            </div>
          </div>
          <div class="col-lg-12">
            <div class="checkout-form-list create-acc">
              {% if shipping_address.notes %}
                  <h4 style="margin-bottom:0;"><b>{% trans "Instructions" %}</b></h4>
                  <p>{{ shipping_address.notes|linebreaks }}</p>
              {% endif %}
            </div>
          </div>

          {% endif %}
        </div>

        <!-- {% if shipping_method %}
        <div class="row">
          <div class="col-lg-12">
            <div class="checkout-form-list create-acc">
              {% block shipping_method_actions %}
                  <a href="{% url 'checkout:shipping-method' %}" class="pull-right">
                      {% trans "Change" %}
                  </a>
              {% endblock %}
              <h3>{% trans "Shipping method" %}</h3>
              <p>{{ shipping_method.name }}
                  {% if shipping_method.description %}
                      - {{ shipping_method.description|safe }}
                  {% endif %}
              </p>
            </div>
          </div>
        </div>
        {% endif %} -->


      </div>
    </div>
{% endblock shipping_address %}

        {% block order_contents %}
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="your-order">
                {% block order_contents_actions %}
                    <a href="{% url 'basket:summary' %}" class="pull-right">
                        {% trans "Edit order contents" %}
                    </a>
                {% endblock %}
								<h3>Your order summary</h3>

								<div class="your-order-table table-responsive">
									<table>
										<thead>
											<tr>
												<th class="product-name">Product</th>
												<th class="product-total">Total</th>
											</tr>
										</thead>
										<tbody>
                      {% for line in basket.all_lines %}
                      {% purchase_info_for_line request line as session %}
											<tr class="cart_item">
												<td class="product-name">
													<a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a> <strong class="product-quantity"> × {{ line.quantity }}</strong>
												</td>
												<td class="product-total">
													<span class="amount">{% if not show_tax_separately and line.is_tax_known %}
                                {{ line.line_price_incl_tax|currency:basket.currency }}
                            {% else %}
                                {{ line.line_price_excl_tax|currency:basket.currency }}
                            {% endif %}</span>
												</td>
											</tr>
                      {% endfor %}
										</tbody>

										<tbody>
											<tr class="cart_item">
												<td class="product-name">
													<a href="{{ line.product.get_absolute_url }}">Shipping</a>
												</td>
												<td class="product-total">
													<span class="amount">&#8377;50</span>
												</td>
											</tr>
										</tbody>
										<tfoot>
											<tr class="order-total">
												<th>Order Total</th>
												<td><strong><span class="amount">{% if order_total.is_tax_known %}
                                      {{ order_total.incl_tax|currency:basket.currency }}
                                  {% else %}
                                      {{ order_total.excl_tax|currency:basket.currency }}
                                  {% endif %}</span></strong>
												</td>
											</tr>
										</tfoot>
									</table>
								</div>
								<div class="payment-method">
									<div class="payment-accordion">
										<div class="collapses-group">
											<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                        {# You will almost certainly want to override this block to provide a payment summary #}
                        <!-- {% block payment_method %}



                        <div class="panel panel-default">
													<div class="panel-heading" role="tab" id="headingOne">
														<h4 class="panel-title" style="display:inline-flex;">
															<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
															  {% trans "Payment" %}
															</a>
														</h4><a href="{% url 'checkout:shipping-method' %}">{% trans "change" %}</a>
													</div>
													<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

                            <div class="panel-body">
															<p>Cash on Delivery is activated Currently</p>
														</div>
													</div>
												</div>
                        {% endblock payment_method %} -->

											</div>
										</div>
									</div>

                  {% block place_order %}
                  <p style="font-size:20px;color:#777474;">Confirm order with</p>
                      <form method="post" action="{% url 'checkout:preview' %}" id="place_order_form">
                          {% csrf_token %}
                          <input type="hidden" name="action" value="place_order" />


                          <div style="display:none">
                              {% block hiddenforms %}{% endblock %}
                          </div>

                                  <div class="order-button-payment ">
                                       <button id='place-order' type="submit" class="btn btn-primary btn-lg btn-block" data-loading-text="{% trans 'Submitting...' %}" style="background:#3c74b9;border:#fff;">{% trans "COD" %}</button>
                                  </div>

                      </form>
                  {% endblock place_order %}
                  <!-- <div class="order-button-payment ">
                       <button id='place-order' type="submit" class="btn btn-primary btn-lg btn-block" data-loading-text="{% trans 'Submitting...' %}" style="background:#3c74b9;border:#fff;">{% trans "Confirm order with COD" %}</button>
                  </div> -->
                  <div class="order-button-payment ">
                       <a href="/en-gb/payment/"><button id='place-order' type="submit" class="btn btn-primary btn-lg btn-block" data-loading-text="{% trans 'Submitting...' %}" style="background:#3c74b9;border:#fff;">{% trans "Pay online" %}</button></a>
                  </div>
								</div>
							</div>
						</div>
                {% endblock order_contents %}
      </div>
    </div>
  </div>


    {% block shipping_method %}
    {% endblock shipping_method %}

    {% block payment_details %}
    {% endblock payment_details %}

{% endblock content %}
