{% extends "layout.html" %}
{% load i18n %}
{% load promotion_tags %}
{% load category_tags %}

{% block layout %}

<header>
  {% include "partials/nav_accounts.html" %}
  <!-- header-mid-area-start -->
  <div class="header-mid-area">
    <div class="container">
      <div class="row">
            {% include "partials/brand.html" %}
            {# Mini-basket wrapped in a block so some templates can now display it #}
            {% block mini_basket %}{% include "partials/mini_basket.html" %}{% endblock %}
            {% include "partials/search.html" %}
      </div>
    </div>
  </div>
    {% block navigation %}
        {% include "partials/nav_primary.html" %}
    {% endblock %}
</header><!-- /header -->


                <h1>{% block checkout_title %}{% endblock %}</h1>


            <!-- The main nav on checkout pages contain links to modal flatpages -->
            {% block modal %}
                {% load flatpages %}
                {% get_flatpages '/order/' as flatpages %}
                {% for page in flatpages %}
                <div id="{{ page.title|slugify }}" class="modal hide fade">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal">×</a>
                        <h3>{{ page.title }}</h3>
                    </div>
                    <div class="modal-body">
                        <div class="large-content">
                            {{ page.content|safe }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endblock %}

            {% block content %}{% endblock %}

            <div id="promotions">
                {% for promotion in promotions_page %}
                    {% render_promotion promotion %}
                {% endfor %}
            </div>
    {% include "partials/footer.html" %}
{% endblock %}
