{% extends "checkout/checkout.html" %}
{% load i18n %}

{% block title %}
<div class="entry-header-area">
<div class="container">
<div class="row">
  <div class="col-lg-12">
    <div class="entry-header-title">
      <h2>{% trans "Order preview" %}</h2>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=4 %}
{% endblock %}

{% block checkout_title %}
<div class="entry-header-area">
<div class="container">
<div class="row">
  <div class="col-lg-12">
    <div class="entry-header-title">
      <h2>
          {% trans "Preview order" %}</h2>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}
