{% extends "checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Shipping address" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=1 %}
{% endblock %}

{% block checkout_title %}		<!-- entry-header-area-start -->
		<div class="entry-header-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="entry-header-title">
							<h2>Shipping Address</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- entry-header-area-end -->{% endblock %}

{% block order_contents %}{% endblock %}

{% block shipping_address %}
<div class="checkout-area">
			<div class="container">
				<div class="row">
          <div style="padding:0 15px;">

          {% if user.is_authenticated %}
              {% if addresses %}
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="background:#e2e2e2;">
							<div class="checkbox-form">



                  <div class="ship-different-title">
                    <h3>
                      <label>Ship to this address?</label>
                    </h3>
                  </div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    {% for address in addresses %}
                    {% block select_address_form %}
										<div class="checkout-form-list">

                    </address>
                      {% block select_address_fields %}
                          {% for field in address.active_address_fields %}
                              <span>{{ field }}</span><br/>
                          {% endfor %}
                      {% endblock %}
										</div>
                    <form action="{% url 'checkout:shipping-address' %}" method="post" id="select_shipping_address_{{ address.id }}">
                      {% csrf_token %}
                      <input type="hidden" name="action" value="ship_to" />
                      <input type="hidden" name="address_id" value="{{ address.id }}" />
                      {% if address.is_default_for_shipping %}
                          <button type="submit" class="btn btn-success btn-large ship-address" data-loading-text="{% trans 'Saving...' %}"><i class="icon-ok"></i> {% trans "Ship to your default shipping address" %}</button>
                      {% else %}
                          <button type="submit" class="btn btn-primary btn-large ship-address">{% trans "Ship to this address" %}</button>
                      {% endif %}

                      <div class="btn-group address-controls" style="margin-top:10px;">
                          <a href="{% url 'checkout:user-address-update' pk=address.id %}" class="btn btn-default btn-sm" style="background:#337ab7;color:#fff;">{% trans "Edit address" %}</a>
                          <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                              <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                              <li><a href="{% url 'checkout:user-address-delete' pk=address.id %}" class="btn-remove-address">{% trans "Delete" %}</a></li>
                          </ul>
                      </div>
                  </form>
                  {% if forloop.counter|divisibleby:2 %}
                        </div><div>
                    {% endif %}
                    {% endblock %}
                    {% endfor %}
								</div>



</div>
</div>
{% endif %}
{% endif %}

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"  style="background:#f2f2f2;">
  <div class="checkbox-form">
{% block new_address_form %}
<div class="row" style="padding:0 13px;">
    <div class="ship-different-title">
      <h3>
        <label>Ship to a new address?</label>
      </h3>
    </div>
  <div class="row">
    <div class="col-xs-12">
      <form action="{% url 'checkout:shipping-address' %}" method="post" id="new_shipping_address" class="form form-horizontal">
            {% csrf_token %}
            {% include "partials/form_fields.html" with form=form style='horizontal' %}
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" class="btn btn-lg btn-primary" data-loading-text="{% trans 'Continuing...' %}">{% trans "Continue" %}</button>
                    {% trans "or" %} <a href="{% url 'basket:summary' %}">{% trans "return to basket" %}</a>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock shipping_address %}

{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}
