{% extends "checkout/layout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

{% block title %}

<div class="entry-header-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="entry-header-title">
          <h2>    {% blocktrans with number=order.number %}
                  Order {{ number }}: confirmation
              {% endblocktrans %} | {{ block.super }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock title %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=5 %}
{% endblock %}




{% block content %}
<div class="checkout-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background:#efefef;border-radius:7px;margin-bottom:10px;padding:17px 0 0 15px;">
        <p class="lead">
            {% blocktrans with number=order.number %}
            Your order has been placed and your order number is
            <strong>{{ number }}</strong>.
            {% endblocktrans %}
        </p>

  {% block order_actions %}
      <div class="form-group" style="margin-top:20px;">
          <div class="row">
            <div class="col-sm-4">
                <p><a href="{{ homepage_url }}" class="btn btn-primary btn-block btn-lg" style="background:#000;width:fit-content;background:#3c74b9;">{% trans "Continue shopping" %}</a></p>
            </div>
              <!-- <div class="col-sm-4">
                  <p><a onclick="window.print()" href="#" class="btn btn-primary btn-block btn-lg" style="background:#000;width:fit-content;background:#3c74b9;">{% trans "Print this page" %}</a></p>
              </div> -->

          </div>
      </div>
  {% endblock order_actions %}
  </div>
  <style>
  .well-info{
    background: #f7f7f7 !important;
    border:#fff;
  }
  </style>
    <!-- <div class="row shipping-payment">
        <div class="col-sm-6">
            {% block shipping_info %}
                <div class="sub-header">
                    <h2>{% trans "Shipping" %}</h2>
                </div>
                <div class="well well-info">
                    <h3>{% trans "Address" %}</h3>
                    {% if order.shipping_address %}
                        <address>
                            {% for field in order.shipping_address.active_address_fields %}
                                {{ field }}<br/>
                            {% endfor %}
                        </address>

                        {% if order.shipping_address.phone_number %}
                            <h4>{% trans "Contact" %}</h4>
                            <p>
                                {% trans "Phone" %}: {{ order.shipping_address.phone_number }}
                                {% if order.guest_email %}
                                    <br/>{% trans "Email" %}: {{ order.guest_email }}
                                {% endif %}
                            </p>
                        {% endif %}

                        {% if order.shipping_address.notes %}
                            <h4>{% trans "Instructions" %}</h4>
                            <p>{{ order.shipping_address.notes|linebreaks }}</p>
                        {% endif %}
                    {% else %}
                        <p>{% trans "No shipping address required." %}</p>
                    {% endif %}
                </div>

                <div class="well well-info">
                    <h3>{% trans "Shipping method" %}</h3>
                    <p>{{ order.shipping_method }}</p>
                </div>
            {% endblock %}
        </div>

        <div class="col-sm-6">
            {% block payment_info %}
                <div class="sub-header">
                    <h2>{% trans "Payment" %}</h2>
                </div>
                <div class="well well-success" style="background:#f7f7f7 !important; border:#fff;">
                    <h3>{% trans "Payment" %}</h3>
                    {% for source in order.sources.all %}
                        <p>
                        {% if source.reference %}
                            {% blocktrans with amount=source.amount_allocated|currency:source.currency type=source.source_type.name reference=source.reference %}
                                Allocation of {{ amount }} from type {{ type }} (reference: {{ reference }})
                            {% endblocktrans %}
                        {% else %}
                            {% blocktrans with amount=source.amount_allocated|currency:source.currency type=source.source_type.name %}
                                Allocation of {{ amount }} from type {{ type }}
                            {% endblocktrans %}
                        {% endif %}
                        </p>
                    {% empty %}
                        <p>
                        {% trans "COD is active for this order." %}
                        </p>
                    {% endfor %}

                    {% if order.billing_address %}
                        <h4>{% trans "Billing address" %}</h4>
                        <address>
                            {% for field in order.billing_address.active_address_fields %}
                                {{ field }}<br/>
                            {% endfor %}
                        </address>
                    {% endif %}
                </div>

            {% endblock %}

                {% block basket_totals %}
                        <div class="col-sm-12 well-info">
                            <div class="sub-header">
                                <h2>{% trans 'Totals' %}</h2>
                            </div>
<style>
th{
  border-top:none !important;
}
</style>

                            <div id="basket_totals">
                                <table class="table table-condensed">
                                    <tr>
                                        <th colspan="2"><h3>{% trans "Basket" %}</h3></th>
                                    </tr>
                                    {% with discounts=order.basket_discounts %}
                                        {% block discount_totals %}
                                            {% if discounts %}
                                                <tr>
                                                    <td>{% trans "Basket total (before discounts)" %}</td>
                                                    <td class="align-right">{{ order.basket_total_before_discounts_incl_tax|currency:order.currency }}</td>
                                                </tr>
                                                {% for discount in discounts %}
                                                    <tr>
                                                        <td><span class="label label-success">{% trans "Discount" %}</span> {{ discount.offer }}</td>
                                                        <td class="align-right">- {{ discount.amount|currency:order.currency }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        {% endblock discount_totals %}

                                        {% block basket_total %}
                                            {% if discounts %}
                                                <tr>
                                                    <th>{% trans "Basket total (after discounts)" %}</th>
                                                    <th class="total align-right">{{ order.basket_total_incl_tax|currency:order.currency }}</th>
                                                </tr>
                                            {% else %}
                                                <tr class="basket-items" style="background:transparent;">
                                                    <th>{% trans "Basket total" %}</th>
                                                    <th class="align-right">
                                                        {% if show_tax_separately %}
                                                            {{ order.basket_total_excl_tax|currency:order.currency }}
                                                        {% else %}
                                                            {{ order.basket_total_incl_tax|currency:order.currency }}
                                                        {% endif %}
                                                    </th>
                                                </tr>
                                            {% endif %}
                                        {% endblock basket_total %}
                                    {% endwith %}

                                    {% block shipping_total %}
                                        <tr>
                                            <th>&nbsp;</th>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th colspan="2"><h3>{% trans "Shipping" %}</h3></th>
                                        </tr>
                                        <tr>
                                            <td>{% trans "Shipping method" %}</td>
                                            <td class="align-right">{{ order.shipping_method }}</td>
                                        </tr>
                                        {% if order.has_shipping_discounts %}
                                            <tr>
                                                <td>{% trans "Shipping charge (before discounts)" %}</td>
                                                <td class="align-right">{{ order.shipping_before_discounts_incl_tax|currency:order.currency }}</td>
                                            </tr>
                                            {% for discount in order.shipping_discounts %}
                                                <tr>
                                                    <td><span class="label label-success">{% trans "Discount" %}</span> {{ discount.offer }}</td>
                                                    <td class="align-right">- {{ discount.amount|currency:order.currency }}</td>
                                                </tr>
                                            {% endfor %}
                                            <tr>
                                                <th>{% trans "Shipping charge (after discounts)" %}</th>
                                                <th class="align-right">{{ order.shipping_incl_tax|currency:order.currency }}</th>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <th>{% trans "Shipping charge" %}</th>
                                                <th class="align-right">
                                                    {% if show_tax_separately %}
                                                        {{ order.shipping_excl_tax|currency:order.currency }}
                                                    {% else %}
                                                        {{ order.shipping_incl_tax|currency:order.currency }}
                                                    {% endif %}
                                                </th>
                                            </tr>
                                        {% endif %}
                                    {% endblock shipping_total %}

                                    {% if show_tax_separately %}
                                        <tr>
                                            <th colspan="2">&nbsp;</th>
                                        </tr>
                                        <tr>
                                            <th>{% trans "Order tax" %}</th>
                                            <th class="align-right">
                                                {{ order.total_tax|currency:order.currency }}
                                            </th>
                                        </tr>
                                    {% endif %}

                                    {% block post_order_action_totals %}
                                        {% with actions=order.post_order_actions %}
                                            {% if actions %}
                                                <tr>
                                                    <th colspan="2">&nbsp;</th>
                                                </tr>
                                                <tr>
                                                    <th colspan="2"><h3>{% trans "Post order actions" %}</h3></th>
                                                </tr>
                                                {% for action in order.post_order_actions %}
                                                    <tr>
                                                        <td colspan="2"><p>{{ action.message }}</p></td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        {% endwith %}
                                    {% endblock post_order_action_totals %}

                                    {% block order_total %}
                                        <tr>
                                            <th colspan="2">&nbsp;</th>
                                        </tr>
                                        <tr>
                                            <td><h3>{% trans "Order total" %}</h3></td>
                                            <td class="align-right"><h3 class="price_color">{{ order.total_incl_tax|currency:order.currency }}</h3></td>
                                        </tr>
                                    {% endblock order_total %}
                                </table>
                            </div>
                        </div>

                {% endblock basket_totals %}
        </div>
    </div> -->




    {% block order_tracking %}
        {% if not order.user %}
            <div class="sub-header">
                <h2>{% trans "Tracking your order" %}</h2>
            </div>
            <p>{% trans "You can track the status of your order" %}</p>
            <a class="btn btn-primary" href="{% url 'customer:anon-order' order_number=order.number hash=order.verification_hash %}">{% trans "View order status" %}</a>.
        {% endif %}
    {% endblock %}



  </div>
  </div>
  </div>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
jQuery(function(){
   jQuery('#modal').click();
   alert("The paragraph was clicked.");
});
</script>

<p id="modal">Click on this paragraph.</p>
{% endblock content %} -->


{% block tracking %}
    {% if send_analytics_event %}
        {% include "partials/google_analytics_transaction.html" %}
    {% endif %}
{% endblock %}
