{% extends "checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Edit address" %} | {{ block.super }}
{% endblock title %}

{% block order_contents %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}
{% block payment_details %}{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=1 %}
{% endblock %}

{% block checkout_title %}
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="entry-header-title">
							<h2>{% trans "Edit address" %}</h2><hr>
						</div>
					</div>
				</div>
			</div>
	{% endblock %}

{% block shipping_address %}
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
        <form id="update_user_address" action="." method="post" class="form form-horizontal">
            {% csrf_token %}
            {% include "partials/form_fields.html" with form=form style='horizontal' %}
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" class="btn btn-lg btn-primary" data-loading-text="{% trans 'Saving...' %}">{% trans "Save" %}</button>
                    {% trans "or" %} <a href="{% url 'checkout:shipping-address' %}">{% trans "cancel" %}</a>.
                </div>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock shipping_address %}
