{% load currency_filters %}
{% load i18n %}
{% load basket_tags %}
{% load display_tags %}
{% load thumbnail %}
{% load reviews_tags %}
{% load staticfiles %}
{% load purchase_info_tags %}
{% load product_tags %}

{% block content %}

		<!-- pos_tab_content-start -->
		<div class="pos_tab_content" style="margin-bottom:45px;">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="tab-menu-2" style="background:#3c74b9;color:#fff;">
								<center><h2 style="margin:10px 0 10px 0;font-weight:700;">{{ promotion.name }}</h2>
							</center>

						</div>
					</div>
				</div>
				<div class="row">
				<div class="col-xs-12">
					<!-- tab-area-start -->
					<div class="tab-content border-tab" style="background:#fff;">
						<div class="tab-pane row active" id="new">
							<div class="product-active">
								{% for product in products %}
								<div class="col-lg-12" style="padding:23px 0;">
									<div class="single-product-total">
										<div class="single-product mb-10" style="margin-top:10px; margin-left:10px;">
											{% block product_image %}
											<div class="product-image">
			                {% with image=product.primary_image %}
			                    {% thumbnail image.original "x155" upscale=False as thumb %}
                    		<a href="{{ product.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="thumbnail"></a>
												{% endthumbnail %}
				                {% endwith %}
											</div>
											{% endblock %}
											<div class="product-content" style="padding-top:0;">
												{% block product_title %}
												<h4 style="height:5em;"><a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}">{{ product.get_title }}</a></h4>
												{% endblock %}
												{% block product_review %}
            						{% iffeature "reviews" %}
												<p class="star-rating {{ product.rating|as_stars }}">
				                    <i class="icon-star"></i>
				                    <i class="icon-star"></i>
				                    <i class="icon-star"></i>
				                    <i class="icon-star"></i>
				                    <i class="icon-star"></i>
				                </p>
												{% endiffeature %}
        								{% endblock %}
												{% block product_price %}
												<div class="price" style="margin-bottom:20px;">
													<ul>
														{% purchase_info_for_product request product as session %}
														{% if session.price.exists %}
														    {% if session.price.excl_tax == 0 %}
														        <li class="new-price">{% trans "Free" %}</li>
														    {% elif session.price.is_tax_known %}
														        <li class="new-price">{{ session.price.incl_tax|currency:session.price.currency }}</li>
														    {% else %}
														        <li class="new-price">{{ session.price.excl_tax|currency:session.price.currency }}</li>
														    {% endif %}
														{% else %}
														    <li class="new-price">&nbsp;</p>
														{% endif %}
														<br>
														<li class="{{ session.availability.code }} availability">
														    <i class="fas fa-{% if session.availability.is_available_to_buy %}check{% else %}times{% endif %}"></i>
														    {% if verbose %}
														        {{ session.availability.message }}
														    {% else %}
														        {{ session.availability.short_message }}
														    {% endif %}
														</li>
													</ul>
												</div>
												<style>
												.addca{
												  background:#3c74b9;
												  color:#fff;
												  display:inline-block;
												  font-weight:700;
												  height:35px;
												  line-height:25px;
												  padding:5px 20px;
												  font-family:serif;
												  transition:.3s;
												  width:auto;
												}
												.addca:hover{
												  box-shadow:0 15px 30px 0 rgba(20, 70, 131, 0.3);
												  background:#3c74b9;
												  transition:.3s;
												  color:#fff
												}
												</style>
												{% purchase_info_for_product request product as session %}
												{% if session.availability.is_available_to_buy %}
												    {% basket_form request product 'single' as basket_form %}
												    <form action="{% url 'basket:add' pk=product.pk %}" method="post">
												        {% csrf_token %}
												        {{ basket_form.as_p }}
												        <button type="submit" style="border:none;background:transparent; padding-left:0;" data-loading-text="{% trans 'Adding...' %}"><a class="addca" >{% trans "Buy Now" %}</a></button>
												    </form>
												{% else %}
												    <span class="btn btn-default btn-block disabled">{% trans "Buy Now" %}</span>
												{% endif %}
												{% endblock %}
											</div>
										</div>
									</div>
								</div>
								{% endfor %}

							</div>
						</div>
					</div>
					<!-- tab-area-end -->
				</div>
				</div>
			</div>
		</div>
		<!-- pos_tab_content-end -->

{% endblock %}
