{% if promotion.image %}
<!-- banner-area-start -->
<div class="banner-area pb-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="single-banner">
          {% if promotion.link_url %}
              <a href="{{ promotion.link_url }}"><img src="{{ promotion.image.url }}" title="{{ promotion.name }}" /></a>
          {% else %}
              <img src="{{ promotion.image.url }}" title="{{ promotion.name }}" />
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- banner-area-end -->
{% endif %}
