

	{% if promotion.images %}
		<div class="slider-total-area pb-10">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								  <div id="myCarousel" class="carousel slide" data-ride="carousel">
								    <!-- Indicators -->
								    <ol class="carousel-indicators">
								      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
								      <li data-target="#myCarousel" data-slide-to="1"></li>
								      <li data-target="#myCarousel" data-slide-to="2"></li>
								      <li data-target="#myCarousel" data-slide-to="3"></li>
								    </ol>

								    <!-- Wrapper for slides -->
								    <div class="carousel-inner">
											{% for promotion_image in promotion.images.all %}
								      <div class="item {% if forloop.first %}active{% endif %}">
												{% if promotion_image.link_url %}
						                <a href="{{ promotion_image.link_url }}"><img src="{{ promotion_image.image.url }}" title="{{ promotion_image.name }}" /></a>
						            {% else %}
						                <img src="{{ promotion_image.image.url }}" title="{{ promotion_image.name }}" />
						            {% endif %}
								      </div>
											{% endfor %}
								    </div>


								  </div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="row">

									{% for promotion_image in promotion.images.all %}
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<div class="single-banner">
											{% if promotion_image.link_url %}
			                <a href="{{ promotion_image.link_url }}"><img src="{{ promotion_image.image.url }}" alt="banner" style="height:17.2em;"/></a>
											{% else %}
											<img src="{{ promotion_image.image.url }}" alt="banner"  style="height:17.2em;"/>
											{% endif %}
											</div>
										</div>
										{% endfor %}
							</div>
							</div>
						</div>

						</div>
					</div>
				</div>
			</div>
			{% endif %}
