{% load string_filters %}

{% comment %}
Use message tags to control these alerts.  Available tags include:
- safe: allow HTML in the message
- block: for longer messages - this adds extra padding
- noicon: don't show an icon
- error/success/info - these change the connotation of the alert
{% endcomment %}

<!-- <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12"> -->
<div id="messages">
{% if messages %}
    {% for message in messages %}
    <div class="alert {% for tag in message.tags|split %}alert-{{ tag }} {% endfor %} fade in">
            <a class="close" data-dismiss="alert" href="#" style="margin-top:-17px;">&times;</a>
            <div class="alertinner {% if 'noicon' not in message.tags %}wicon{% endif %}">
                {# Allow HTML to be embedded in messages #}
                {% if 'safe' in message.tags %}
                    {{ message|safe }}
                {% else %}
                    {{ message }}
                {% endif %}


            </div>
        </div>
    {% endfor %}
{% endif %}
</div>
<!-- </div> -->
