<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
							<!-- logo-area-start -->
							<div class="logo-area">
								<a href="{{ homepage_url }}"><img src="/media/images/promotions/readby_choice_4.png" alt="logo" /></a>
							</div>
							<!-- logo-area-end -->
						</div>
