{% load i18n %}
    {% block footer %}
    <!-- footer-area-start -->

<footer style="margin-top:20px;">
  <!-- newslatter-area-start -->
  <div class="newslatter-area mtb-80 ptb-60">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="newslatter-title">
            <h4>Sign Up for Newsletters</h4>
            <p>Get e-mail updates about our latest shop and special offers.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="newslatter-form">
            <form action="#">
              <p style="float:right;color:#fff;margin-right:134px;font-weight:bold;margin-top:9px;">Click Here to</p><a href="/payment/email/">Subscribe !</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- newslatter-area-end -->
<!--
  <!-- static-info-area-start -->
  <div class="static-info-area mtb-80">
    <div class="container">
      <div class="row static-total">
        <div class="col-lg-12">
          <div class="static-info">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-static">
                <div class="static-img">
                  <a href="#" class="first-img"><img src="/media/images/promotions/13.png" alt="icon"/></a>
                  <a href="#" class="second-img"><img src="/media/images/promotions/14.png" alt="icon" /></a>
                </div>
                <div class="static-content">
                  <h3>Free Shipping</h3>
                  <p>Free shipping on all order above Rs.500</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-static">
                <div class="static-img">
                  <a href="#" class="first-img"><img src="/media/images/promotions/15.png" alt="icon"/></a>
                  <a href="#" class="second-img"><img src="/media/images/promotions/16.png" alt="icon" /></a>
                </div>
                <div class="static-content">
                  <h3>24/7 Support</h3>
                  <p>Support online 24 hours day</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-static">
                <div class="static-img">
                  <a href="#" class="first-img"><img src="/media/images/promotions/17.png" alt="icon"/></a>
                  <a href="#" class="second-img"><img src="/media/images/promotions/18.png" alt="icon" /></a>
                </div>
                <div class="static-content">
                  <h3>Free return</h3>
                  <p>Money back guarantee</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-static">
                <div class="static-img">
                  <a href="#" class="first-img"><img src="/media/images/promotions/19.png" alt="icon"/></a>
                  <a href="#" class="second-img"><img src="/media/images/promotions/20.png" alt="icon" /></a>
                </div>
                <div class="static-content">
                  <h3>secure Payment</h3>
                  <p>100% secure payment</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- static-info-area-end --> 
  <!-- footer-top-area-start -->
  <div class="footer-top-area ptb-60">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-20 mt-20">
          <div class="single-footer">
            <div class="footer-title">
              <h4>About Us</h4>
            </div>
            <div class="footer-address">
              <p><span>Worldview Publications</span></p>
              <p><span>address : </span>58 UB Jawahar Nagar, Delhi-110007, India</p>
              <p><span>Phone : </span> (011) 41530268</p>
              <p><span>Email : </span> info@readbychoice.com</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-20 mt-20">
          <div class="single-footer">
            <div class="footer-title">
              <h4>My account</h4>
            </div>
            <div class="footer-menu">
              <ul>
                <li><a href="/checkout/shipping-address/">checkout</a></li>
                <li><a href="/accounts/profile/">My account</a></li>
                <li><a href="/basket/">My orders</a></li>
                <li><a href="/accounts/addresses/">My addresses</a></li>
                <li><a href="/accounts/profile/">My personal info</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-20 mt-20">
          <div class="single-footer">
            <div class="footer-title">
              <h4>Information</h4>
            </div>
            <div class="footer-menu">
              <ul>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Blog</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-20 mt-20">
          <div class="single-footer">
            <div class="footer-title">
              <h4>Categories</h4>
            </div>
            <div class="footer-menu">
              <ul>
                <li><a href="/catalogue/category/literature_8/">Literature</a></li>
                <li><a href="/catalogue/category/politics_9/">Politics</a></li>
                <li><a href="/catalogue/category/sociology_10/">Sociology</a></li>
                <li><a href="/catalogue/category/art-architecture_14/">Art & Architecture</a></li>
                <li><a href="/catalogue/category/film-studies_16/">Film Studies</a></li>
                <li><a href="/catalogue/">Others</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer-top-area-end -->
  <!-- footer-mid-area-start -->
  <div class="footer-mid-area ">
    <div class="container">
      <div class="row br-b ptb-40">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="footer-social">
            <ul>
              <li class="facebook"><a href="#"></a></li>
              <li class="twitter"><a href="#"></a></li>
              <li class="rss"><a href="#"></a></li>
              <li class="youtube"><a href="#"></a></li>
              <li class="google-plus"><a href="#"></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="payment-img text-right">
            <a href="#"><img src="/media/images/promotions/22.png" alt="payment" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer-mid-area-end -->
  <!-- footer-bottom-area-start -->
  <div class="footer-bottom-area ptb-20">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="copyright-area">
            <p>Copyright <i class="icon-copyright"></i><a href="#">Readbychoice</a> All Rights Reserved</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="footer-link text-right">
            <a href="#">Contact us </a>
            <a href="#">Term of</a>
            <a href="#">UsePrivacy</a>
            <a href="#">Policy</a>
            <a href="#">Site Map</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer-bottom-area-end -->
</footer>
<!-- footer-area-end -->
    {% endblock %}
