{% load currency_filters %}
{% load i18n %}

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 pull-right">
  <!-- cart-area-start -->
  <div class="cart-area">
    <ul>
      <li><a href="/accounts/wishlists/"><i class="fas fa-heart"></i></a></li>
      <li><a href="#"><i class="fas fa-shopping-bag"></i>
        <span class="cart-3 hidden-sm">{% trans "Cart" %}
          <span class="balance">
          {% if request.basket.is_tax_known %}
              {{ request.basket.total_incl_tax|currency:request.basket.currency }}
          {% else %}
              {{ request.basket.total_excl_tax|currency:request.basket.currency }}
          {% endif %}
        </span>
        </span>
        </a>
        {% include "basket/partials/basket_quick.html" %}
      </li>
    </ul>
  </div>
  <!-- cart-area-end -->
</div>
