{% load currency_filters %}
{% load category_tags %}
{% load i18n %}
<!-- header-bottom-area-start -->
			<div class="header-bottom-area hidden-xs hidden-sm" style="margin-top:22px;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 hidden-sm">
							<div class="main-menu">
								<nav>
									<ul  style="text-align:center;">
                  <li><a href="{{ homepage_url }}">Home</a></li>
                  <li><a href="#">About us</a></li>
									<style>
											.dropdown4 {
													position: relative;
													display: inline-block;
											}

											.dropdown-content4 {
													display: none;
													position: absolute;
													background-color: #f9f9f9;
													min-width: 160px;
													box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
													padding: 12px 16px;
													width:1000px;
													left:-35em;
													z-index: 1;
											}

											.dropdown4:hover .dropdown-content4 {
													display: block;
											}
											</style>
											<li>
												<div class="dropdown4">
												  <a href="/catalogue/">Categories<i class="fas fa-caret-down"></i></a>

												  <div class="dropdown-content4">
														<div class="row">
														{% block nav_dropdown %}

															<!-- {% category_tree depth=2 as tree_categories %}
															{% if tree_categories %}
															{% for tree_category, info in tree_categories %}
																				{% if info.has_children %}
																			<div class="col-sm-3 col-xs-3"><a href="{{ tree_category.get_absolute_url }}" style="color:#000;">{{ tree_category.name }}</a></div>
																				{% else %}
																					<div class="col-sm-3 col-xs-3"><a href="{{ tree_category.get_absolute_url }}" style="color:#000;">{{ tree_category.name }}</a></div>
																				 {% endif %}

															{% endfor %}
																{% endif %} -->
																{% category_tree as tree_categories %}
																		{% if tree_categories %}
																						<ul class="nav nav-list" style="text-align:left;">
																								{% for tree_category, info in tree_categories %}
																										{% if info.has_children %}
																										<div class="col-sm-4 col-xs-4"><li>

																												<a href="{{ tree_category.get_absolute_url }}" style="padding-bottom:0;margin-left:13px;margin-bottom:-15px;">
																														{% if tree_category.pk == category.pk %}
																																<strong style="color:#000aaa;">{{ tree_category.name }}</strong>
																														{% else %}
																																<div style="color:#000aaa;">{{ tree_category.name }}</div>
																														{% endif %}
																												</a>
																												{% else %}
																												<br><li>
																													<a href="{{ tree_category.get_absolute_url }}" style="padding:0;">
																															{% if tree_category.pk == category.pk %}
																																	<strong style="color:#000;font-weight:550;">{{ tree_category.name }}</strong>
																															{% else %}
																																	<div style="color:#000;font-weight:550;">{{ tree_category.name }}</div>
																															{% endif %}
																													</a>
																												{% endif %}

																												{% if info.has_children %}<div class="col-sm-12 col-xs-12"><ul style="padding-left:0;">{% else %}</li>{% endif %}
																												{% for n in info.num_to_close %}
																											</ul></div></li></div>
																												{% endfor %}
																								{% endfor %}
																						</ul>
																		{% endif %}

												{% block nav_extra %}
												{% endblock %}

														{% endblock %}

												  </div></div>
												</div></li>




									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- header-bottom-area-end -->
			<!-- mobile-menu-area-start -->
			<div class="mobile-menu-area hidden-md hidden-lg">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="mobile-menu">
								<nav id="mobile-menu-active">
									<ul id="nav">
										<li><a href="/">Home</a>
										</li>
										<li><a href="#">About</a>
										</li>
										<li><a href="/catalogue/">All product</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
