{% load i18n %}

<!-- header-top-start -->
<style>
		.dropdown5 {
				position: relative;
				display: inline-block;
				cursor: pointer;
		}

		.dropdown-content5 {
				display: none;
				position: absolute;
				background-color: #f9f9f9;
				min-width: 160px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				padding: 12px 16px;
				z-index: 1;
		}

		.dropdown5:hover .dropdown-content5 {
				display: block;
		}
		</style>
			<div id="top_page" class="header-top" style="padding-bottom:0;">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-3 hidden-xs">
							<!-- contact-link-area-start -->
							<div class="contact-link">
								<ul>

									<li class="welcome-msg hidden-sm hidden-xs">
										<div class="dropdown5"><i class="fas fa-truck"></i>
											<div class="dropdown-content5">
												<p> <span>FREE SHIPPING </span><br>Free shipping on all order above Rs.500</p>
										</div>
										</div>
										</li>
										<li class="welcome-msg hidden-sm hidden-xs">
											<div class="dropdown5"><i class="fas fa-phone"></i>
												<div class="dropdown-content5">
													<p> <span>24/7 SUPPORT</span><br> Support online 24 hours day</p>
											</div>
											</div>
											</li>
											<li class="welcome-msg hidden-sm hidden-xs">
												<div class="dropdown5"><i class="fas fa-shopping-bag"></i>
													<div class="dropdown-content5">
														<p> <span>FREE RETURN</span><br> Money back guarantee</p>
												</div>
												</div>
												</li>
												<li class="welcome-msg hidden-sm hidden-xs">
													<div class="dropdown5"><i class="far fa-credit-card"></i>
														<div class="dropdown-content5">
															<p> <span>SECURE PAYMENT</span> <br>100% secure payment</p>
													</div>
													</div>
													</li>
								</ul>
							</div>
							<!-- contact-link-area-end -->
						</div>
						<div class="col-lg-6 col-md-6 col-sm-9 col-xs-12">
							<!-- header-right-menu-start -->
							<div class="header-right-menu">
								<ul>

                  <li><a href="#"><span>Social Links</span><i class="fa fa-angle-down"></i></a>
										<div class="header-sub" style="width:10em;">
											<ul>
												<li><a href="#"><i class="fab fa-facebook-f"></i> facebook</a></li>
												<li><a href="#"><i class="fab fa-instagram"></i> instagram</a></li>
												<li><a href="#"><i class="fab fa-twitter"></i> twitter</a></li>
											</ul>
										</div>
									</li>
									<li><a href="#">My account<i class="fa fa-angle-down"></i></a>
										<div class="header-sub header-sub-2 hidden-sm hidden-xs" style="width:11em;">
											<ul>
                        {% if user.is_authenticated %}
                        {% block nav_account_navbar_authenticated %}
												<li>
                          {% if num_unread_notifications > 0 %}
                              {# If user has new notifications - we change account link to go to inbox #}
                              <a href="{% url 'customer:notifications-inbox' %}">
                                  <i class="icon-user"></i>
                                  {% trans "Account" %}
                                  <span class="label label-warning">{{ num_unread_notifications }}</span>
                              </a>
                          {% else %}
                              <a href="{% url 'customer:summary' %}"><i class="fas fa-user"></i> {% trans "Account" %}</a>
                          {% endif %}
                        </li>
                        {% if user.is_staff or perms.partner.dashboard_access %}
												<li><a href="{% url 'dashboard:index' %}"><i class="fas fa-tachometer-alt"></i> {% trans "Dashboard" %}</a></li>
                        {% endif %}
												<li><a href="/accounts/wishlists/"><i class="fas fa-heart"></i>wishlist</a></li>
												<li><a href="/checkout/"><i class="fas fa-shopping-cart"></i>checkout </a></li>
												<li><a id="logout_link" href="{% url 'customer:logout' %}"> <i class="fas fa-sign-out-alt"></i>{% trans "Logout" %}</a></li>
                        {% endblock %}
                        {% else %}
												<li><a id="logout_link" href="{% url 'customer:login' %}"><i class="fas fa-sign-in-alt"></i> {% trans "Login or register" %}</a></li>
                        {% endif %}
											</ul>
										</div>
									</li>
								</ul>
							</div>
							<!-- header-right-menu-end -->
						</div>
					</div>
				</div>
			</div>
			<!-- header-top-end -->
