{% load display_tags %}
{% load i18n %}

{% if paginator.num_pages > 1 %}
							<div class="pagination-area">
								<div class="product-count">
                  {% blocktrans with page_num=page_obj.number total_pages=paginator.num_pages %}
									<p>Showing {{ page_num }} of {{ total_pages }} items</p>
                  {% endblocktrans %}
								</div>
								<div class="pagination-number">
									<ul>
										{% if page_obj.has_previous %}
                    <li><a href="?{% get_parameters page %}page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left"></i></a></li>
                    {% endif %}
										{% if page_obj.has_next %}
                    <li><a href="?{% get_parameters page %}page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right"></i></a></li>
                    {% endif %}
									</ul>
								</div>
							</div>
              {% endif %}
