{% load i18n %}

<style>
.searc{
		background:transparent !important;
		padding-top:4px !important;
}
</style>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	<!-- search-area-start -->
	<div class="search-area">
		<form method="get" action="{% url 'search:search' %}">
      {{ search_form.q }}
		<a class="searc"><i class="fa fa-search fa-2x" aria-hidden="true" style="color:#2c5f9e;"></i></a>
		</form>
	</div>
