{% load i18n %}
{% load wishlist_tags %}

{% if user.is_authenticated %}
    {% with wishlists=user.wishlists.all %}
        {# Select wishlists that contains product #}
        {% wishlists_containing_product wishlists product as product_wishlists %}


            {# 1 or no existing wishlists - show a simple button #}
            <form id="add_to_wishlist_form" action="{% url 'customer:wishlists-add-product' product_pk=product.pk %}" method="post" class="btn-wishlist">
                {% csrf_token %}
                <button type="submit" data-loading-text="{% trans 'Adding...' %}" style="border:none;background:transparent;"><a class="addca" >{% trans "Add to wishlist" %}</a></button>
            </form>


    {% endwith %}
{% else %}
    <button disabled="disabled" title="{% trans 'Please login to add products to a wish list.' %}" style="border:none;background:transparent;margin-bottom:20px;"><a class="addca" >{% trans 'Add to wish list' %}</a></button>
{% endif %}
