{% load basket_tags %}
{% load i18n %}
{% load wishlist_tags %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

<div class="add-to-links"  style="margin-top:0;">

        <ul style="display:inline-flex;margin:0;">
                <!-- <li>
                {% if user.is_authenticated %}
                    {% with wishlists=user.wishlists.all %}

                            {# 1 or no existing wishlists - show a simple button #}
                            <form id="add_to_wishlist_form" action="{% url 'customer:wishlists-add-product' product_pk=product.pk %}" method="post" style="margin:0;">
                                {% csrf_token %}
                                <button type="submit" style="border:none;background:transparent;"><a class="heart"><i class="fas fa-heart"></i></a></button>
                            </form>

                    {% endwith %}
                {% else %}
                    <button disabled="disabled" style="border:none;background:transparent;"><i class="fas fa-heart"></i></button><br/>
                {% endif %}
              </li> -->
              <li>
              {% if session.availability.is_available_to_buy %}
              {% basket_form request product 'single' as basket_form %}
              <form action="{% url 'basket:add' pk=product.pk %}" method="post" style="margin:0;">
                {% csrf_token %}
                {{ basket_form.as_p }}

                <button type="submit" style="border:none;background:transparent;"><a style="width:11em;">{% trans "Buy Now" %}</a></button>

                {% else %}
              <span class="btn btn-default btn-block disabled" style="height:37px;border:none;"><a>{% trans "unavailable" %}</a></span>
                {% endif %}

              </form>
            </li>
                <!-- <li><a href="{{ product.get_absolute_url }}" class="refresh"><i class="fas fa-search"></i></a></li> -->
      </ul>
</div>
