{% load basket_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

<style>
.addca{
  background:#f0f0f0;
  color:#282b31;
  display:inline-block;
  font-weight:700;
  height:35px;
  border-radius: 5px;
  line-height:25px;
  padding:5px 20px;
  font-family:serif;
  transition:.3s;
  width:auto;
}
.addca:hover{
  box-shadow:0 15px 30px 0 rgba(20, 70, 131, 0.3);
  background:#3c74b9;
  transition:.3s;
  color:#fff
}
</style>
{% if session.availability.is_available_to_buy %}
    {% basket_form request product as basket_form %}
    <div class="add-to-cart" style="display:inline-flex;">
    <form id="add_to_basket_form" action="{% url 'basket:add' pk=product.pk  %}" method="post">
        {% csrf_token %}
        {% include "partials/form_fields.html" with form=basket_form %}
        <button type="submit" style="border:none;background:transparent;padding-left:0;"><a class="addca" >{% trans "Buy Now" %}</a></button>
    </form>

    {% iffeature "wishlists" %}
        {% include "catalogue/partials/add_to_wishlist.html" %}
    {% endiffeature %}
    </div>

{% else %}
    {% if has_active_alert %}
        <p>{% trans "You have an active stock alert for this product." %}</p>
    {% else %}

    <p>{% trans "You can get an email alert when this product is back in stock." %}</p>
    <div class="add-to-cart" style="display:inline-flex;">
        <form id="alert_form" method="post" action="{% url 'customer:alert-create' pk=product.id %}" >
            {% csrf_token %}
            {% include "partials/form_fields.html" with form=alert_form %}
        <button type="submit" style="border:none;background:transparent;padding-left:0;"><a class="addca" >{% trans "Create Alert" %}</a></button>
        </form>
    {% endif %}
    {% iffeature "wishlists" %}
        {% include "catalogue/partials/add_to_wishlist.html" %}
    {% endiffeature %}

    </div>
{% endif %}
