{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

{% with all_images=product.get_all_images %}
    {# use length rather then count as the images get queried anyways #}

    {% if all_images|length > 1 %}

        <div id="product_gallery" class="carousel slide">

            <div class="thumbnail" style="border:none;">
                <div class="carousel-inner" role="listbox">
                {% for image in all_images %}
                    <div class="item {% if forloop.first %}active{% endif %}">
                        {% thumbnail image.original "440x400" upscale=False as thumb %}
                        <img src="{{ thumb.url }}" alt="{{ product.get_title }}" />
                        {% endthumbnail %}
                    </div>
                {% endfor %}
                </div>
                <a class="carousel-control left" href="#product_gallery" role="button" data-slide="prev" style="background:none;">
                    <span class="icon-prev fa-stack fa-lg" aria-hidden="true">
                        <i class="fa fa-angle-left fa-stack-1x" style="color:#000;"></i>
                    </span>
                </a>
                <a class="carousel-control right" href="#product_gallery" role="button" data-slide="next" style="background:none;">
                    <span class="icon-next fa-stack fa-lg" aria-hidden="true">
                        <i class="fa fa-angle-right fa-stack-1x" style="color:#000;"></i>
                    </span>
                </a>
            </div>


        </div>
        <ol class="flex-control-nav flex-control-thumbs" style="border-top:1px solid #cccbcb;border-bottom:1px solid #cccbcb;border-left:1px solid #efefef;">
            {% for image in all_images %}
                <li data-target="#product_gallery" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" style="width:auto;height:100%;text-indent:0;border-right:1px solid #efefef;">
                    {% thumbnail image.original "65x55" crop="center" as thumb %}
                    <img src="{{ thumb.url }}" alt="{{ product.get_title }}" />
                    {% endthumbnail %}
                </li>
            {% endfor %}
        </ol>

    {% else %}

        {# Only one image to show #}
        <div id="product_gallery" class="carousel">
            <div class="thumbnail" style="border:none;">
                <div class="carousel-inner">
                    <div class="item active" style="text-align:center;">
                    {% with image=product.primary_image %}
                        {% thumbnail image.original "440x400" upscale=False as thumb %}
                            <img src="{{ thumb.url }}" alt="{{ product.get_title }}" style="display:initial;" />
                        {% endthumbnail %}
                    {% endwith %}
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endwith %}
