{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}

<div class="single-product-2 single-product-4 mb-30">
{% block product_image %}
<div class="col-sm-5 col-lg-5 col-md-5 col-xs-12">
<div class="product-image-2" style="text-align:center;">
  {% with image=product.primary_image %}
    {% thumbnail image.original "x400" upscale=False as thumb %}
    <a href="{{ product.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ product.get_title }}" style="width:18em;height:20em;margin:20px 0;"/></a>
    {% endthumbnail %}
    {% endwith %}
</div>
</div>
{% endblock %}
<div class="product-content-2" style="padding:20px 0;">
{% block product_title %}
<h4><a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}">{{ product.get_title }}</a></h4>
{% endblock %}

{% iffeature "reviews" %}
  {% include "catalogue/reviews/partials/review_stars.html" %}
{% endiffeature %}

{% block product_description %}
  {% if product.description %}
             <p style="padding:13px 0;">{{ product.description }}</p>
  {% endif %}
{% endblock %}
{% block product_price %}
<div class="price">
  <ul>
    {% include "catalogue/partials/stock_record.html" %}
  </ul>
</div>

<div class="availability">
    <p class="{{ session.availability.code }} availability">
        <i class="icon-{% if session.availability.is_available_to_buy %}ok{% else %}remove{% endif %}"></i>
        {% if verbose %}
          {{ session.availability.message }}
        {% else %}
          {{ session.availability.short_message }}
        {% endif %}
    </p>
</div>
{% if not product.is_parent %}
<div style="width:52%;margin-top:-86px;">
    {% include "catalogue/partials/add_to_basket_form_compact.html" %}
</div>
{% endif %}

{% endblock %}
</div>
</div>
