{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}

{% block product %}
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="border:1px solid #ebebeb; padding-top:8px;">
  {% block product_image %}
  <div class="product-image-total">
    <div class="product-image-2" style="text-align:center;">
      {% with image=product.primary_image %}
      {% thumbnail image.original "x270" upscale=False as thumb %}
      <a href="{{ product.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ product.get_title }}" style="height:15em;"/></a>
      {% endthumbnail %}
      {% endwith %}
    </div>
    <a href="#" data-toggle="modal" data-target="#mymodal"><i class="fa fa-search"></i></a>
  </div>
  {% endblock %}
  <div class="product-content-2 text-center product-content-3">
    {% block product_title %}
    <h4 style="height:3em;"><a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}">{{ product.get_title }}</a></h4>
    {% endblock %}
    {% block product_price %}
    <div class="price">
      <ul>
        {% include "catalogue/partials/stock_record.html" %}
      </ul>
    </div>
    {% if not product.is_parent %}
        {% include "catalogue/partials/add_to_basket_form_compact.html" %}
    {% endif %}

    {% endblock %}
  </div>
</div>
{% endblock %}
