{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

{% if session.price.exists %}
    {% if session.price.excl_tax == 0 %}
        <li class="new-price">{% trans "Free" %}</li>
    {% elif session.price.is_tax_known %}
        <li class="new-price">{{ session.price.incl_tax|currency:session.price.currency }}</li>
    {% else %}
        <li class="new-price">{{ session.price.excl_tax|currency:session.price.currency }}</li>
    {% endif %}
{% else %}
    <li class="new-price">&nbsp;</li>
{% endif %}
<p class="{{ session.availability.code }} availability" style="padding:0"><b>Availability:</b>
  {% if session.availability.is_available_to_buy %}
    <i class="fa fa-check" style="color:green;"></i>
    {% else %}
    <i class="fa fa-close" style="color:red;"></i>
    {% endif %}
    {% if verbose %}
        {{ session.availability.message }}
    {% else %}
        {{ session.availability.short_message }}
    {% endif %}
</p>
