{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js">
    <head>
        <title>ReadByChoice</title>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="created" content="{% now "jS M Y h:i" %}" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="viewport" content="{% block viewport %}width=device-width{% endblock %}" />
        <meta name="robots" content="NOARCHIVE,NOCACHE" />

            <link rel="shortcut icon" href="/media/images/promotions/readby_choice_4.png" />


        {# Block where global CSS will go. #}
        		<!-- nivo-slider.css -->
                <link rel="stylesheet" href="{% static "oscar/css/nivo-slider.css" %}">
        		<!-- chosen.min.css -->
                <link rel="stylesheet" href="{% static "oscar/css/chosen.min.css" %}">
        		<!-- flexslider.css -->
            <link rel="stylesheet" type="text/css" href="{% static "oscar/css/flexslider.css" %}" />
            <link rel="stylesheet" type="text/css" href="{% static "oscar/css/simple-line-icons.css" %}" />
            <!-- bootstrap v3.3.6 css -->
              <link rel="stylesheet" href="{% static "oscar/css/bootstrap.min.css" %}">
            <!-- animate css -->
                <link rel="stylesheet" href="{% static "oscar/css/animate.css" %}">
            <!-- jquery-ui.min css -->
                <link rel="stylesheet" href="{% static "oscar/css/jquery-ui.min.css" %}">
            <!-- meanmenu css -->
                <link rel="stylesheet" href="{% static "oscar/css/meanmenu.min.css" %}">
            <!-- owl.carousel css -->
                <link rel="stylesheet" href="{% static "oscar/css/owl.carousel.css" %}">
            <!-- font-awesome css -->
                <link rel="stylesheet" href="{% static "oscar/css/font-awesome.min.css" %}">
        		<!-- responsive css -->
                <link rel="stylesheet" href="{% static "oscar/css/responsive.css" %}">
        		<!-- modernizr css -->
                <!-- <script src="{% static "oscar/js/vendor/modernizr-2.8.3.min.js" %}"></script> -->
        {% block styles %}{% endblock %}

        {# Additional CSS - specific to certain pages #}
        {% block extrastyles %}{% endblock %}

        {% block extrahead %}{% endblock %}

        {% block tracking %}
            {# Default to using Google analytics #}
            {% include "partials/google_analytics.html" %}
        {% endblock %}
        <style>
        body{
          background-color:#fff !important;
        }
        </style>
    </head>

    <body class="shop">
        {# Main content goes in this 'layout' block #}
        {% block layout %}{% endblock %}

        {# Scripts loaded from a CDN. #}
        {% block cdn_scripts %}
            <!-- jQuery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{% static "oscar/js/jquery/jquery.min.js" %}"><\/script>')</script>
        {% endblock %}

        {# Local scripts #}
        {% block scripts %}
        {% endblock %}

        {# Additional JS scripts #}
        {% block extrascripts %}{% endblock %}

        {# Block for body onload functions #}
        <script>
            $(function() {
                {% block onbodyload %}{% endblock %}
            });
        </script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

        <!-- jquery latest version -->
            <script src="{% static 'oscar/js/jquery-1.12.0.min.js' %}"></script>
        <!-- bootstrap js -->
        <!-- owl.carousel js -->
            <script src="{% static 'oscar/js/owl.carousel.min.js' %}"></script>
        <!-- meanmenu js -->
            <script src="{% static 'oscar/js/jquery.meanmenu.js' %}"></script>
        <!-- jquery-ui js -->
        <!-- wow js -->
            <script src="{% static 'oscar/js/wow.min.js' %}"></script>
        <!-- jquery.nivo.slider.js -->
            <script src="{% static 'oscar/js/jquery.nivo.slider.js' %}"></script>
            <script src="{% static 'oscar/js/main.js' %}"></script>


        {# Page meta-data - this is populated by the 'metadata' template context processor #}
    </body>
</html>
