{% extends "layout.html" %}
{% load promotion_tags %}

{% comment %}
Keep the same header and footer as the standard layout template but override the
main content area to split it into a sidebar and a content block
{% endcomment %}
{% block content_wrapper %}

        <div class="shop-main-area">
        <div class="container">
        <div class="row">

                {# Render promotions at the top of the left-hand sidebar #}

                                {% include "partials/alert_messages.html" %}
                    {% for promotion in promotions_left %}
                        {% render_promotion promotion %}
                    {% endfor %}

                {% block column_left %}{% endblock %}


                {% block header %}
                  {% block headertext %}{% endblock %}

                {% endblock %}


                    {% for promotion in promotions_page %}
                        {% render_promotion promotion %}
                    {% endfor %}

                {% block content %}{% endblock %}


        </div><!-- /row -->
        </div>
        </div>
{% endblock %}
