{% extends "layout.html" %}
{% load thumbnail %}
{% load i18n %}

{% block title %}
    {% trans "Basket" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<!-- breadcrumb-area-start -->
<div class="breadcrumb-area ptb-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb">
          <ul>
            <li><a href="{{ homepage_url }}">{% trans "Home" %}</a></li>
            <li class="active"><i class="fa fa-angle-right"></i>{% trans "Basket" %}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb-area-end -->
{% endblock %}

{# Hide mini-basket so we don't have two baskets to keep in sync #}
{% block mini_basket %}{% endblock %}

{% block headertext %}
    {% trans "Basket" %}
    <p style="float:right;">

      {% block formactions %}
              <div class="wc-proceed-to-checkout pull-right" style="margin-left:18px;">
                  <a href="{% url 'checkout:index' %}" style="background:#3c74b9;border-radius:7px;margin-top:0;">Proceed to Checkout</a>
              </div>
              {% endblock formactions %}
              <div class="wc-proceed-to-checkout pull-right">
                  <a href="/" style="background:#3c74b9;border-radius:7px;margin-top:0;">Continue shopping</a>
              </div>
            </p>
{% endblock %}

{% block content %}
    {# Use a partial template so that AJAX can be used to re-render basket #}
    {% include 'basket/partials/basket_content.html' %}
{% endblock content %}

{% block onbodyload %}
    {{ block.super }}
    {# We pass in the URL to send AJAX requests to #}
    var options = {
        'basketURL': '{% url 'basket:summary' %}'
    };
    oscar.basket.init(options);
{% endblock %}
