{% load i18n %}
{% load currency_filters %}
{% load shipping_tags %}

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="cart_totals">
              <h2>{% trans "Cart Totals" %}</h2>
              <table>
                  <tbody>
                    {% with offer_discounts=basket.offer_discounts voucher_discounts=basket.grouped_voucher_discounts %}
                      {% block discount_totals %}
                          {% if offer_discounts or voucher_discounts %}
                          {# Basket total will be discounted so we show a before and after version #}

                          <tr>
                              <th style="float:left;margin-left:-100px;margin-top:13px;margin-bottom:-12px;color:#000;"><u>Basket Details</u></th>

                          </tr>
                      <tr class="cart-subtotal">
                          <th>{% trans "Basket total (before discounts)" %}</th>
                          <td>
                              <span class="amount">
                                {% if basket.is_tax_known and not show_tax_separately %}
                                    {{ basket.total_incl_tax_excl_discounts|currency:basket.currency }}
                                {% else %}
                                    {{ basket.total_excl_tax_excl_discounts|currency:basket.currency }}
                                {% endif %}
                              </span>
                          </td>
                      </tr>
                      {% for discount in offer_discounts %}
                          <tr class="cart-subtotal">
                              <th><span class="label label-success">{% trans "Discount" %}</span> {{ discount.name }}
                                  {% if discount.description %}
                                      <br/><small>{{ discount.description }}</small>
                                  {% endif %}
                              </th>
                              <td><span class="amount">-{{ discount.discount|currency:basket.currency }}</span></td>
                          </tr>
                      {% endfor %}

                      {% if voucher_discounts %}
                      <tr>
                          <th style="float:left;margin-left:-100px;margin-top:13px;margin-bottom:-12px;color:#000;"><u>Voucher Details</u></th>

                      </tr>
                            <tr class="cart-subtotal">
                                <th>{% trans "Vouchers" %}</th>
                            </tr>
                            {% for discount in voucher_discounts %}
                                <tr>
                                    <td>
                                        {{ discount.voucher.name }} ({{ discount.voucher.code }})
                                        {% if editable %}
                                            <form action="{% url 'basket:vouchers-remove' pk=discount.voucher.id %}" method="POST">
                                                {% csrf_token %}
                                                <input type="submit" value="{% trans 'Remove' %}" class="btn btn-sm btn-danger" />
                                            </form>
                                        {% endif %}
                                    </td>
                                    <td>-{{ discount.discount|currency:basket.currency }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}

                        {% endif %}
                        {% endblock %}

                        {% block basket_total %}
                        <tr>
                            <th style="float:left;margin-left:-100px;margin-top:13px;margin-bottom:-12px;color:#000;"><u>Basket Details</u></th>

                        </tr>
                          {% if offer_discounts or voucher_discounts %}
                              <tr>
                                  <th>{% trans "Basket total (after discounts)" %}</th>
                                  <td><span class="amount">
                                      {% if not show_tax_separately and basket.is_tax_known %}
                                          {{ basket.total_incl_tax|currency:basket.currency }}
                                      {% else %}
                                          {{ basket.total_excl_tax|currency:basket.currency }}
                                      {% endif %}
                                  </span></td>
                              </tr>
                          {% else %}
                              {# No discounts to basket #}
                              <tr>
                                  <th>{% trans "Basket total" %}</th>
                                  <td><span class="amount">
                                      {% if not show_tax_separately and basket.is_tax_known %}
                                          {{ basket.total_incl_tax|currency:basket.currency }}
                                      {% else %}
                                          {{ basket.total_excl_tax|currency:basket.currency }}
                                      {% endif %}
                                  </span></td>
                              </tr>
                          {% endif %}
                      {% endblock %}

                      {% endwith %}

                      {% block shipping_totals %}
                      <tr>
                          <th style="float:left;margin-left:-100px;margin-top:13px;margin-bottom:-12px;color:#000;"><u>Shipping Details</u></th>

                      </tr>

                        {% if not shipping_method.is_discounted %}
                            <tr>
                                <th>
                                    {{ shipping_method.name }}
                                </th>
                                <td><span class="amount">
                                    {% if not show_tax_separately and shipping_charge.is_tax_known %}
                                        {{ shipping_charge.incl_tax|currency:basket.currency }}
                                    {% else %}
                                        {{ shipping_charge.excl_tax|currency:basket.currency }}
                                    {% endif %}
                                <span></td>
                            </tr>
                        {% else %}
                            {% shipping_charge_discount shipping_method basket as shipping_discount %}
                            {% shipping_charge_excl_discount shipping_method basket as shipping_charge_excl_discount %}
                            {# As shipping is discounted, we break it down into its original charge and a discount #}
                            <tr>
                                <th class="order-total">{% trans "Shipping method" %}</th>
                                <td>{{ shipping_method.name }}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Shipping total (before discounts)" %}</td>
                                <td><span class="amount">
                                    {% if not show_tax_separately and shipping_charge_excl_discount.is_tax_known %}
                                        {{ shipping_charge_excl_discount.incl_tax|currency:basket.currency }}
                                    {% else %}
                                        {{ shipping_charge_excl_discount.excl_tax|currency:basket.currency }}
                                    {% endif %}
                                <span class="amount"></td>
                            </tr>
                            {# This section needs adjustment to when taxes are shown separately #}
                            <tr>
                                <td class="basket-discount"><span class="label label-success">{% trans "Discount" %}</span> {{ shipping_method.discount_name }}</td>
                                <td class="align-right">-{{ shipping_discount|currency:basket.currency }}</td>
                            </tr>
                            <tr>
                                <th class="total">
                                    {% trans "Shipping total (after discounts)" %}
                                </th>
                                <th><span class="amount">
                                    {% if not show_tax_separately and shipping_charge.is_tax_known %}
                                        {{ shipping_charge.incl_tax|currency:basket.currency }}
                                    {% else %}
                                        {{ shipping_charge.excl_tax|currency:basket.currency }}
                                    {% endif %}
                                <span class="amount"></th>
                            </tr>
                        {% endif %}
                    {% endblock %}
                    {% block post_order_action_totals %}
                      {% if basket.post_order_actions %}

                      {% endif %}
                  {% endblock %}
                  {% block order_total %}
                  <tr>
                      <th style="float:left;margin-left:-100px;margin-top:13px;margin-bottom:-12px;color:#000;"><u>Order Details</u></th>
                      <td></td>
                  </tr>
                      <tr>
                          <th class="order-total">{% trans "Order total" %}</th>
                          <td class="align-right">
                              <span class="amount">
                                  {% if order_total.is_tax_known %}
                                      {{ order_total.incl_tax|currency:basket.currency }}
                                  {% else %}
                                      {{ order_total.excl_tax|currency:basket.currency }}
                                  {% endif %}
                              </span>
                          </td>
                      </tr>
                      {% if not order_total.is_tax_known %}
                          <tr>
                              <td><small>{% trans "Taxes will be added during checkout." %}</small></td>
                          </tr>
                      {% endif %}
                  {% endblock %}
                  </tbody>
              </table>
          </div>
          {% block formactions %}
          <div class="wc-proceed-to-checkout pull-right">
              <a href="{% url 'checkout:index' %}" style="background:#3c74b9;border-radius:7px;">Proceed to Checkout</a>
          </div>
          {% endblock formactions %}
      </div>
