{% load history_tags %}
{% load basket_tags %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

<div class="mini-cart-sub">
                      {% if request.basket.num_lines %}
                        {% for line in request.basket.all_lines %}
											<div class="cart-product">
												<div class="single-cart">
													<div class="cart-img">
                            {% with image=line.product.primary_image %}
                                {% thumbnail image.original "100x100" upscale=False as thumb %}
														<a href="{{ line.product.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ line.product.get_title }}" /></a>
                            {% endthumbnail %}
                            {% endwith %}
													</div>
													<div class="cart-info">
														<h5><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></h5>
														<p> {{ line.quantity }} x {{ line.unit_price_excl_tax|currency:request.basket.currency }}</p>
													</div>
												</div>
											</div>
                      {% endfor %}
											<div class="cart-totals">
                        {% if request.basket.is_tax_known %}
												<h5>{% trans "Total:" %}  <span>{{ request.basket.total_incl_tax|currency:request.basket.currency }}</span></h5>
                        {% else %}
												<h5>{% trans "Total:" %} <span>{{ request.basket.total_excl_tax|currency:request.basket.currency }}</span></h5>
                        {% endif %}
											</div>
											<div class="cart-bottom">
												<a href="{% url 'basket:summary' %}">{% trans "View basket" %}</a>
											</div>
											<div class="cart-bottom" style="margin-top:2%;">
												<a href="/checkout/">{% trans "Check out" %}</a>
											</div>
                      {% else %}
                      <div class="cart-totals">
                        <h5>Your Cart is Empty</h5>
											</div>
                      {% endif %}
										</div>
