{% load i18n %}
{% load thumbnail %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load widget_tweaks %}

{% if basket_warnings %}
    <h5>{% trans "Important messages about items in your basket" %}</h5>
    {% for warning in basket_warnings %}
        <div class="alert alert-warning">{{ warning }}</div>
    {% endfor %}
{% endif %}

{% if upsell_messages %}
    <div class="well">
        <h3>{% trans "You could be missing out on offers!" %}</h3>
        {% for upsell in upsell_messages %}
            {% blocktrans with message=upsell.message url=upsell.offer.get_absolute_url offer_name=upsell.offer.name %}
                <div class="warning">{{ message }} to qualify for the <a href="{{ url }}">{{ offer_name }}</a> special offer</div>
            {% endblocktrans %}
        {% endfor %}
    </div>
{% endif %}

<!-- cart-main-area-start -->
<div class="cart-main-area">
  <div class="container">
    <div class="row">
      {% if not basket.is_empty %}
      <div class="col-lg-12">
        {% block basket_form_main %}
        <form action="." method="post" id="basket_formset">
          {% csrf_token %}
          {{ formset.management_form }}
          <div class="table-content table-responsive" style="overflow-x:initial;">
            <table>
              {% block basket_form_headers %}
              <thead>
                <tr>
                  <th class="product-thumbnail">Image</th>
                  <th class="product-name">Product</th>
                  <th class="product-price">Price</th>
                  <th class="product-quantity">Quantity</th>
                  <th class="product-subtotal">Total</th>
                  <th class="product-remove">Remove</th>
                </tr>
              </thead>
              {% endblock %}
              <tbody>
                {% for form in formset %}
                  {% with line=form.instance product=form.instance.product %}
                      {% purchase_info_for_line request line as session %}
                        <tr>
                          {{ form.id }}
                          {% with image=product.primary_image %}
                              {% thumbnail image.original "100x100" upscale=False as thumb %}
                                         <td class="product-thumbnail"><a href="{{ product.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ product.get_title }}" /></a></td>
                              {% endthumbnail %}
                          {% endwith %}
                          <td class="product-name"><a href="{{ product.get_absolute_url }}">{{ line.description }}</a><br>
                            <p class="availability {{ session.availability.code }}">{{ session.availability.message }}</p></td>

                          <td class="product-price">
                              {% if not line.unit_price_incl_tax and not line.unit_tax_excl_tax %}
                                  <span class="amount">&mdash;</span>
                              {% else %}
                                <span class="amount">
                                  {% if line.is_tax_known %}
                                        {{ line.unit_price_incl_tax|currency:line.price_currency }}
                                    {% else %}
                                        {{ line.unit_price_excl_tax|currency:line.price_currency }}
                                    {% endif %}
                                </span>
                              {% endif %}
                          </td>

                          <td class="product-quantity {% if form.errors %}error{% endif %}">
                            <div style="display:inline-flex;">
                            {% render_field form.quantity class+="form-control" %}
                            <button class="btn btn-default" type="submit" data-loading-text="{% trans 'Updating...' %}" style="background:#3c74b9;color:#fff;font-weight:bold;margin-top:2px;">
                              {% trans "Update" %}
                            </button>
                          </div>
                          </td>

                          <td class="product-subtotal">
                            {% if not line.line_price_incl_tax and not line_price_excl_tax %}
                            <p>&mdash;</p>
                            {% else %}
                                <p>
                                    {% if line.is_tax_known %}
                                        {{ line.line_price_incl_tax|currency:line.price_currency }}
                                    {% else %}
                                        {{ line.line_price_excl_tax|currency:line.price_currency }}
                                    {% endif %}
                                </p>
                            {% endif %}
                          </td>
                          <td class="product-remove">
                            <a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="remove"><i class="fa fa-times"></i></a>
                            <div style="display:none">
                                {{ form.DELETE }}
                            </div>
                            {% for field_errors in form.errors.values %}
                                {% for error in field_errors %}
                                    <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                                {% endfor %}
                            {% endfor %}
                          </td>
                        </tr>{% endwith %}
                        {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </form>
                {% endblock %}
              </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                            <div class="buttons-cart mb-30">
                                <ul>
                                    <li><a href="/accounts/wishlists/" style="background:#3c74b9;border-radius:5px;">Wishlist</a></li>
                                    <li><a href="/"  style="background:#3c74b9;border-radius:5px;">Continue Shopping</a></li>
                                </ul>
                            </div>

                              {% block vouchers %}
                              {# Hide the entire section if a custom BasketView doesn't pass in a voucher form #}
                              {% if voucher_form %}
                                <div class="coupon">
                                    <h3>{% trans "Voucher/promo code" %}</h3>
                                    <p>{% trans "Enter your voucher code if you have one." %}</p>
                                    <form id="voucher_form" action="{% url 'basket:vouchers-add' %}" method="post" >
                                        {% csrf_token %}
                                        {% include "partials/form_fields.html" with form=voucher_form %}
                                        <button type="submit" data-loading-text="{% trans 'Adding...' %}" style="background:#3c74b9;color:#fff;font-weight:bold;border-radius:5px;border:1px solid #3c74b9;margin-top:-5px;padding:6.5px;;">{% trans "Add voucher" %}</button>

                                    </form>
                                </div>
                                {% endif %}
                            {% endblock vouchers %}

                        </div>
                        <!--{% block baskettotals %}
                            <div class="col-sm-6">
                                <div class="sub-header">
                                    <h2>{% trans "Totals" %}</h2>
                                </div>
                                {% include 'basket/partials/basket_totals.html' with editable=1 %}
                            </div>
                        {% endblock baskettotals %}-->


                  {% include 'basket/partials/basket_totals.html' with editable=1 %}

                    </div>
      </div>
      {% else %}
{% block emptybasket %}
    <p>
        {% trans "Your basket is empty." %}
        <a href="{{ homepage_url }}">{% trans "Continue shopping" %}</a>
    </p>
{% endblock %}
{% endif %}
    </div>
  </div>
</div>
<!-- cart-main-area-end -->

{% block savedbasket %}
    {% if user.is_authenticated and saved_formset %}
        <div class="well">
            <div class="sub-header">
                <h2>{% trans "Items to buy later" %}</h2>
            </div>
            <div class="row basket-title hidden-xs">
                <p class="col-sm-8 h4">{% trans "Items" %}</p>
                <p class="col-sm-2 h4 align-center">{% trans "Price" %}</p>
                <div class="col-sm-2">&nbsp;</div>
            </div>
            <form action="{% url 'basket:saved' %}" method="post" class="form-stacked later_summary" id="saved_basket_formset">
                {% csrf_token %}
                {{ saved_formset.management_form }}
                {% for form in saved_formset %}
                    {% purchase_info_for_product request form.instance.product as session %}
                    <div class="basket-items">
                        <div class="row">
                            <div class="col-sm-2">
                                {{ form.id }}
                                {% with image=form.instance.product.primary_image %}
                                    {% thumbnail image.original "100x100" upscale=False as thumb %}
                                        <a href="{{ form.instance.product.get_absolute_url }}">
                                            <img class="thumbnail" src="{{ thumb.url }}" alt="{{ form.instance.product.get_title }}">
                                        </a>
                                    {% endthumbnail %}
                                {% endwith %}
                            </div>
                            <div class="col-sm-6">
                                <h3><a href="{{ form.instance.product.get_absolute_url }}">{{ form.instance.description }}</a></h3>
                                <p class="availability {{ session.availability.code }}">{{ session.availability.message }}</p>
                                <a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="remove">{% trans "Remove" %}</a>
                                <div style="display:none">
                                    {{ form.move_to_basket }}
                                    {{ form.DELETE }}
                                </div>
                            </div>
                            {% purchase_info_for_product request form.instance.product as saved %}
                            <div class="col-sm-2 align-center">
                                <p class="price_color">
                                    {% if saved.price.is_tax_known %}
                                        {{ saved.price.incl_tax|currency:saved.price.currency }}
                                    {% else %}
                                        {{ saved.price.excl_tax|currency:saved.price.currency }}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-sm-2">
                                <a href="#" data-id="{{ forloop.counter0 }}" class="btn pull-right btn-block" data-behaviours="move">{% trans "Move to basket" %}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </form>
        </div>
    {% endif %}
{% endblock %}
