{% load i18n %}
{% load product_tags %}
{% load display_tags %}
{% load reviews_tags %}
{% load thumbnail %}

{% with products_sliced=products|slice:":4" %}
{% if products_sliced %}
<div class="product-main-wrapper pt-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title mb-25 text-center">
          <h2>{% trans 'Recently viewed' %} <span>Products</span></h2>
        </div>
        <div class="product-active-6">
          {% for product in products_sliced %}
          <div class="col-lg-8">
            <div class="single-product-2" style="width:100%;">
              {% block product_image %}
              <div class="product-image-total"style="height:17em;">
                  {% with image=product.primary_image %}
                  {% thumbnail image.original "x155" upscale=False as thumb %}
                    <div class="product-image-2">
                  <img src="{{ thumb.url }}" alt="{{ product.get_title }}" />
                  {% endthumbnail %}
                </div>
                <a href="{{ product.get_absolute_url }}"><i class="fa fa-search"></i></a>
                  {% endwith %}
              </div>
              {% endblock %}
              <div class="product-content-2 text-center product-content-3" style="padding:0;">
                {% block product_title %}
                <h4 style="height:2em;margin-top:12px;"><a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}">{{ product.get_title|truncatewords:4 }}</a></h4>
                {% endblock %}
                <div class="price">
                  <ul>
                    {% include "catalogue/partials/stock_record.html" %}
                  </ul>
                </div>
                {% if not product.is_parent %}
                    {% include "catalogue/partials/add_to_basket_form_compact.html" %}
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endwith %}
