{% load i18n %}

{% block tabcontent %}
    {% if wishlists %}


                {% for wishlist in wishlists %}

                <body onLoad="javascript:location.href='{% url 'customer:wishlists-detail' key=wishlist.key %}'">
                    <!-- <tr>

                        <td><a href="{% url 'customer:wishlists-detail' key=wishlist.key %}">Wishlist</a></td>
                        <td>{{ wishlist.lines.count }}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default" href="{% url 'customer:wishlists-detail' key=wishlist.key %}">{% trans 'View' %}</a>
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">

                                    <li>
                                        <a href="{% url 'customer:wishlists-delete' key=wishlist.key %}">
                                            {% trans 'Delete' %}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr> -->
                  </body>
                {% endfor %}

    {% endif %}



{% endblock tabcontent %}
